<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ceying.chx.cpi.customer.rm.erp.dao.UserServiceDao">
    <resultMap id="baseResultMap" type="com.ceying.chx.cpi.customer.rm.erp.entity.SysUser">
        <result column="USER_NAME" jdbcType="VARCHAR" property="user_name"></result>
        <result column="ORG_NAME" jdbcType="VARCHAR" property="ext_field_3"></result>
        <result column="TENANT_NAME" jdbcType="VARCHAR" property="ext_field_4"></result>
        <result column="MOBILE" jdbcType="VARCHAR" property="ext_field_5"></result>
    </resultMap>

    <select id="get" parameterType="java.lang.String" resultMap="baseResultMap">
        SELECT DISTINCT U.USER_NAME, O.ORG_NAME, T.TENANT_NAME, T.MOBILE
        FROM TSYS_USER U, TSYS_ORGANIZATION O, TSYS_TENANT T
        WHERE U.ORG_ID = O.ORG_ID AND O.TENANT_ID = T.TENANT_ID AND U.USER_ID = #{user_id,jdbcType=VARCHAR}
    </select>
</mapper>