<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ceying.chx.cpi.base.rm.appeal.dao.AppealDao">
  <resultMap id="BaseResultMap" type="com.ceying.chx.cpi.base.rm.appeal.entity.Appeal">
    <id column="URID" jdbcType="VARCHAR" property="urid" />
    <result column="APPEALTYPEID" jdbcType="VARCHAR" property="appealtypeid" />
    <result column="APPEALPERSON" jdbcType="VARCHAR" property="appealperson" />
    <result column="APPEALDATE" jdbcType="VARCHAR" property="appealdate" />
    <result column="RESPONDENT" jdbcType="VARCHAR" property="respondent" />
    <result column="ARBITRATOR" jdbcType="VARCHAR" property="arbitrator" />
    <result column="TITLE" jdbcType="VARCHAR" property="title" />
    <result column="CONTENT" jdbcType="VARCHAR" property="content" />
    <result column="NODECODE" jdbcType="VARCHAR" property="nodecode" />
    <result column="DEALRESULT" jdbcType="VARCHAR" property="dealresult" />
    <result column="ISACTIVE" jdbcType="CHAR" property="isactive" />
    <result column="CREATEDON" jdbcType="TIMESTAMP" property="createdon" />
    <result column="CREATEDBY" jdbcType="VARCHAR" property="createdby" />
    <result column="LASTMODIFIEDON" jdbcType="TIMESTAMP" property="lastmodifiedon" />
    <result column="LASTMODIFIEDBY" jdbcType="VARCHAR" property="lastmodifiedby" />
    <result column="ROWVERSION" jdbcType="DECIMAL" property="rowversion" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
  </resultMap>
  <sql id="Base_Column_List">
    URID, APPEALTYPEID, APPEALPERSON, APPEALDATE, RESPONDENT, ARBITRATOR, TITLE, CONTENT, 
    NODECODE, DEALRESULT, ISACTIVE, CREATEDON, CREATEDBY, LASTMODIFIEDON, LASTMODIFIEDBY, 
    ROWVERSION, DESCRIPTION
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_APPEAL
    where URID = #{urid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from T_APPEAL
    where URID = #{urid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ceying.chx.cpi.base.rm.appeal.entity.Appeal">
    insert into T_APPEAL (URID, APPEALTYPEID, APPEALPERSON, 
      APPEALDATE, RESPONDENT, ARBITRATOR, 
      TITLE, CONTENT, NODECODE, 
      DEALRESULT, ISACTIVE, CREATEDON, 
      CREATEDBY, LASTMODIFIEDON, LASTMODIFIEDBY, 
      ROWVERSION, DESCRIPTION)
    values (#{urid,jdbcType=VARCHAR}, #{appealtypeid,jdbcType=VARCHAR}, #{appealperson,jdbcType=VARCHAR}, 
      #{appealdate,jdbcType=TIMESTAMP}, #{respondent,jdbcType=VARCHAR}, #{arbitrator,jdbcType=VARCHAR}, 
      #{title,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{nodecode,jdbcType=VARCHAR}, 
      #{dealresult,jdbcType=VARCHAR}, #{isactive,jdbcType=CHAR}, #{createdon,jdbcType=TIMESTAMP}, 
      #{createdby,jdbcType=VARCHAR}, #{lastmodifiedon,jdbcType=TIMESTAMP}, #{lastmodifiedby,jdbcType=VARCHAR}, 
      #{rowversion,jdbcType=DECIMAL}, #{description,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ceying.chx.cpi.base.rm.appeal.entity.Appeal">
    insert into T_APPEAL
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="urid != null">
        URID,
      </if>
      <if test="appealtypeid != null">
        APPEALTYPEID,
      </if>
      <if test="appealperson != null">
        APPEALPERSON,
      </if>
      <if test="appealdate != null">
        APPEALDATE,
      </if>
      <if test="respondent != null">
        RESPONDENT,
      </if>
      <if test="arbitrator != null">
        ARBITRATOR,
      </if>
      <if test="title != null">
        TITLE,
      </if>
      <if test="content != null">
        CONTENT,
      </if>
      <if test="nodecode != null">
        NODECODE,
      </if>
      <if test="dealresult != null">
        DEALRESULT,
      </if>
      <if test="isactive != null">
        ISACTIVE,
      </if>
      <if test="createdon != null">
        CREATEDON,
      </if>
      <if test="createdby != null">
        CREATEDBY,
      </if>
      <if test="lastmodifiedon != null">
        LASTMODIFIEDON,
      </if>
      <if test="lastmodifiedby != null">
        LASTMODIFIEDBY,
      </if>
      <if test="rowversion != null">
        ROWVERSION,
      </if>
      <if test="description != null">
        DESCRIPTION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="urid != null">
        #{urid,jdbcType=VARCHAR},
      </if>
      <if test="appealtypeid != null">
        #{appealtypeid,jdbcType=VARCHAR},
      </if>
      <if test="appealperson != null">
        #{appealperson,jdbcType=VARCHAR},
      </if>
      <if test="appealdate != null">
        #{appealdate,jdbcType=TIMESTAMP},
      </if>
      <if test="respondent != null">
        #{respondent,jdbcType=VARCHAR},
      </if>
      <if test="arbitrator != null">
        #{arbitrator,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="nodecode != null">
        #{nodecode,jdbcType=VARCHAR},
      </if>
      <if test="dealresult != null">
        #{dealresult,jdbcType=VARCHAR},
      </if>
      <if test="isactive != null">
        #{isactive,jdbcType=CHAR},
      </if>
      <if test="createdon != null">
        #{createdon,jdbcType=TIMESTAMP},
      </if>
      <if test="createdby != null">
        #{createdby,jdbcType=VARCHAR},
      </if>
      <if test="lastmodifiedon != null">
        #{lastmodifiedon,jdbcType=TIMESTAMP},
      </if>
      <if test="lastmodifiedby != null">
        #{lastmodifiedby,jdbcType=VARCHAR},
      </if>
      <if test="rowversion != null">
        #{rowversion,jdbcType=DECIMAL},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ceying.chx.cpi.base.rm.appeal.entity.Appeal">
    update T_APPEAL
    <set>
      <if test="appealtypeid != null">
        APPEALTYPEID = #{appealtypeid,jdbcType=VARCHAR},
      </if>
      <if test="appealperson != null">
        APPEALPERSON = #{appealperson,jdbcType=VARCHAR},
      </if>
      <if test="appealdate != null">
        APPEALDATE = #{appealdate,jdbcType=TIMESTAMP},
      </if>
      <if test="respondent != null">
        RESPONDENT = #{respondent,jdbcType=VARCHAR},
      </if>
      <if test="arbitrator != null">
        ARBITRATOR = #{arbitrator,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        TITLE = #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        CONTENT = #{content,jdbcType=VARCHAR},
      </if>
      <if test="nodecode != null">
        NODECODE = #{nodecode,jdbcType=VARCHAR},
      </if>
      <if test="dealresult != null">
        DEALRESULT = #{dealresult,jdbcType=VARCHAR},
      </if>
      <if test="isactive != null">
        ISACTIVE = #{isactive,jdbcType=CHAR},
      </if>
      <if test="createdon != null">
        CREATEDON = #{createdon,jdbcType=TIMESTAMP},
      </if>
      <if test="createdby != null">
        CREATEDBY = #{createdby,jdbcType=VARCHAR},
      </if>
      <if test="lastmodifiedon != null">
        LASTMODIFIEDON = #{lastmodifiedon,jdbcType=TIMESTAMP},
      </if>
      <if test="lastmodifiedby != null">
        LASTMODIFIEDBY = #{lastmodifiedby,jdbcType=VARCHAR},
      </if>
      <if test="rowversion != null">
        ROWVERSION = #{rowversion,jdbcType=DECIMAL},
      </if>
      <if test="description != null">
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where URID = #{urid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ceying.chx.cpi.base.rm.appeal.entity.Appeal">
    update T_APPEAL
    set APPEALTYPEID = #{appealtypeid,jdbcType=VARCHAR},
      APPEALPERSON = #{appealperson,jdbcType=VARCHAR},
      APPEALDATE = #{appealdate,jdbcType=TIMESTAMP},
      RESPONDENT = #{respondent,jdbcType=VARCHAR},
      ARBITRATOR = #{arbitrator,jdbcType=VARCHAR},
      TITLE = #{title,jdbcType=VARCHAR},
      CONTENT = #{content,jdbcType=VARCHAR},
      NODECODE = #{nodecode,jdbcType=VARCHAR},
      DEALRESULT = #{dealresult,jdbcType=VARCHAR},
      ISACTIVE = #{isactive,jdbcType=CHAR},
      CREATEDON = #{createdon,jdbcType=TIMESTAMP},
      CREATEDBY = #{createdby,jdbcType=VARCHAR},
      LASTMODIFIEDON = #{lastmodifiedon,jdbcType=TIMESTAMP},
      LASTMODIFIEDBY = #{lastmodifiedby,jdbcType=VARCHAR},
      ROWVERSION = #{rowversion,jdbcType=DECIMAL},
      DESCRIPTION = #{description,jdbcType=VARCHAR}
    where URID = #{urid,jdbcType=VARCHAR}
  </update>

    <select id="list" resultMap="BaseResultMap">
        select * from (
        select a.*,rownum n from
        ( select t.urid,
        t.title,
        o.ORG_NAME as appealperson,
        t.appealdate,
        a.NAME as appealtypeid,
        t.content,
        o1.ORG_NAME as respondent,
        d.C_CAPTION as dealresult
        from T_APPEAL t,T_APPEALTYPE a,TDICTIONARY d,tsys_organization o,tsys_organization o1
        where d.L_KEYNO = '9999078'
        and t.dealresult = d.C_KEYVALUE
        and t.APPEALTYPEID = a.URID
        and t.appealperson = o.ORG_ID
        and t.respondent = o1.ORG_ID
        <if test="appealdate != null and appealdate!=''">
            and to_char(t.appealdate,'YYYY-MM-DD') = #{appealdate,jdbcType=VARCHAR}
        </if>
        <if test="title != null and title!=''">
            and t.title like concat('%',concat(#{title,jdbcType=VARCHAR},'%'))
        </if>
        ORDER BY t.CREATEDON desc
        )a
        where 1=1 and rownum<![CDATA[ <= ]]> #{rows} * #{page}
        )
        where n <![CDATA[ > ]]>(#{page} - 1) * #{rows}
    </select>
    <select id="listCount" resultType="java.lang.Integer">
        select count(*)
        from T_APPEAL t,T_APPEALTYPE a,TDICTIONARY d,tsys_organization o,tsys_organization o1
        where d.L_KEYNO = '9999078'
        and t.dealresult = d.C_KEYVALUE
        and t.APPEALTYPEID = a.URID
        and t.appealperson = o.ORG_ID
        and t.respondent = o1.ORG_ID
        <if test="appealdate != null and appealdate!=''">
            and to_char(t.appealdate,'YYYY-MM-DD') = #{appealdate,jdbcType=VARCHAR}
        </if>
        <if test="title != null and title!=''">
            and t.title like concat('%',concat(#{title,jdbcType=VARCHAR},'%'))
        </if>
        ORDER BY t.CREATEDON desc
    </select>
</mapper>