<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ceying.chx.cpi.base.rm.base.dao  # ÔÝÊ±²»ÐèÒªdaoÉú³É.MallSeckillOrderMapper">
  <resultMap id="BaseResultMap" type="com.ceying.chx.cpi.base.rm.base.dto.MallSeckillOrder">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="mall_goods_id" jdbcType="VARCHAR" property="mallGoodsId" />
    <result column="total_stock" jdbcType="INTEGER" property="totalStock" />
    <result column="residue_stock" jdbcType="INTEGER" property="residueStock" />
    <result column="isactive" jdbcType="CHAR" property="isactive" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_by" jdbcType="VARCHAR" property="updatedBy" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="rversion" jdbcType="INTEGER" property="rversion" />
    <result column="description" jdbcType="VARCHAR" property="description" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, mall_goods_id, total_stock, residue_stock, isactive, created_by, created_at, 
    updated_by, updated_at, rversion, description
  </sql>
  <select id="selectByExample" parameterType="com.ceying.chx.cpi.base.rm.base.dto.MallSeckillOrderExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_mall_seckill_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_mall_seckill_order
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_mall_seckill_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ceying.chx.cpi.base.rm.base.dto.MallSeckillOrderExample">
    delete from t_mall_seckill_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ceying.chx.cpi.base.rm.base.dto.MallSeckillOrder">
    insert into t_mall_seckill_order (id, mall_goods_id, total_stock, 
      residue_stock, isactive, created_by, 
      created_at, updated_by, updated_at, 
      rversion, description)
    values (#{id,jdbcType=INTEGER}, #{mallGoodsId,jdbcType=VARCHAR}, #{totalStock,jdbcType=INTEGER}, 
      #{residueStock,jdbcType=INTEGER}, #{isactive,jdbcType=CHAR}, #{createdBy,jdbcType=VARCHAR}, 
      #{createdAt,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=VARCHAR}, #{updatedAt,jdbcType=TIMESTAMP}, 
      #{rversion,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ceying.chx.cpi.base.rm.base.dto.MallSeckillOrder">
    insert into t_mall_seckill_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="mallGoodsId != null">
        mall_goods_id,
      </if>
      <if test="totalStock != null">
        total_stock,
      </if>
      <if test="residueStock != null">
        residue_stock,
      </if>
      <if test="isactive != null">
        isactive,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="updatedBy != null">
        updated_by,
      </if>
      <if test="updatedAt != null">
        updated_at,
      </if>
      <if test="rversion != null">
        rversion,
      </if>
      <if test="description != null">
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="mallGoodsId != null">
        #{mallGoodsId,jdbcType=VARCHAR},
      </if>
      <if test="totalStock != null">
        #{totalStock,jdbcType=INTEGER},
      </if>
      <if test="residueStock != null">
        #{residueStock,jdbcType=INTEGER},
      </if>
      <if test="isactive != null">
        #{isactive,jdbcType=CHAR},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="rversion != null">
        #{rversion,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ceying.chx.cpi.base.rm.base.dto.MallSeckillOrderExample" resultType="java.lang.Long">
    select count(*) from t_mall_seckill_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_mall_seckill_order
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.mallGoodsId != null">
        mall_goods_id = #{record.mallGoodsId,jdbcType=VARCHAR},
      </if>
      <if test="record.totalStock != null">
        total_stock = #{record.totalStock,jdbcType=INTEGER},
      </if>
      <if test="record.residueStock != null">
        residue_stock = #{record.residueStock,jdbcType=INTEGER},
      </if>
      <if test="record.isactive != null">
        isactive = #{record.isactive,jdbcType=CHAR},
      </if>
      <if test="record.createdBy != null">
        created_by = #{record.createdBy,jdbcType=VARCHAR},
      </if>
      <if test="record.createdAt != null">
        created_at = #{record.createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatedBy != null">
        updated_by = #{record.updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="record.updatedAt != null">
        updated_at = #{record.updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.rversion != null">
        rversion = #{record.rversion,jdbcType=INTEGER},
      </if>
      <if test="record.description != null">
        description = #{record.description,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_mall_seckill_order
    set id = #{record.id,jdbcType=INTEGER},
      mall_goods_id = #{record.mallGoodsId,jdbcType=VARCHAR},
      total_stock = #{record.totalStock,jdbcType=INTEGER},
      residue_stock = #{record.residueStock,jdbcType=INTEGER},
      isactive = #{record.isactive,jdbcType=CHAR},
      created_by = #{record.createdBy,jdbcType=VARCHAR},
      created_at = #{record.createdAt,jdbcType=TIMESTAMP},
      updated_by = #{record.updatedBy,jdbcType=VARCHAR},
      updated_at = #{record.updatedAt,jdbcType=TIMESTAMP},
      rversion = #{record.rversion,jdbcType=INTEGER},
      description = #{record.description,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ceying.chx.cpi.base.rm.base.dto.MallSeckillOrder">
    update t_mall_seckill_order
    <set>
      <if test="mallGoodsId != null">
        mall_goods_id = #{mallGoodsId,jdbcType=VARCHAR},
      </if>
      <if test="totalStock != null">
        total_stock = #{totalStock,jdbcType=INTEGER},
      </if>
      <if test="residueStock != null">
        residue_stock = #{residueStock,jdbcType=INTEGER},
      </if>
      <if test="isactive != null">
        isactive = #{isactive,jdbcType=CHAR},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        updated_by = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedAt != null">
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="rversion != null">
        rversion = #{rversion,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ceying.chx.cpi.base.rm.base.dto.MallSeckillOrder">
    update t_mall_seckill_order
    set mall_goods_id = #{mallGoodsId,jdbcType=VARCHAR},
      total_stock = #{totalStock,jdbcType=INTEGER},
      residue_stock = #{residueStock,jdbcType=INTEGER},
      isactive = #{isactive,jdbcType=CHAR},
      created_by = #{createdBy,jdbcType=VARCHAR},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_by = #{updatedBy,jdbcType=VARCHAR},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      rversion = #{rversion,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>