<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ceying.chx.cpi.base.rm.org.entity.OrganizationRelation">
  <resultMap id="BaseResultMap" type="com.ceying.chx.cpi.base.rm.org.entity.OrganizationRelation">
    <id column="URID" jdbcType="VARCHAR" property="urid" />
    <result column="OURORGID" jdbcType="VARCHAR" property="ourorgid" />
    <result column="OPPORGID" jdbcType="VARCHAR" property="opporgid" />
    <result column="PRIORITY" jdbcType="VARCHAR" property="priority" />
    <result column="CATEGORY" jdbcType="VARCHAR" property="category" />
    <result column="CORECOMPANYSUPPLIERRATE" jdbcType="FLOAT" property="corecompanysupplierrate" />
    <result column="CREATEDBY" jdbcType="VARCHAR" property="createdby" />
    <result column="CREATEDON" jdbcType="DATE" property="createdon" />
    <result column="LASTMODIFIEDBY" jdbcType="VARCHAR" property="lastmodifiedby" />
    <result column="LASTMODIFIEDON" jdbcType="DATE" property="lastmodifiedon" />
    <result column="ROWVERSION" jdbcType="DECIMAL" property="rowversion" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
    <result column="ISBLACK" jdbcType="VARCHAR" property="isblack" />
    <result column="EXTENSIONDATE" jdbcType="DECIMAL" property="extensiondate" />
    <result column="ORGANIZATIONRELATIONID" jdbcType="VARCHAR" property="organizationrelationid" />
  </resultMap>
  <!--<sql id="Example_Where_Clause">-->
    <!--<where>-->
      <!--<foreach collection="oredCriteria" item="criteria" separator="or">-->
        <!--<if test="criteria.valid">-->
          <!--<trim prefix="(" prefixOverrides="and" suffix=")">-->
            <!--<foreach collection="criteria.criteria" item="criterion">-->
              <!--<choose>-->
                <!--<when test="criterion.noValue">-->
                  <!--and ${criterion.condition}-->
                <!--</when>-->
                <!--<when test="criterion.singleValue">-->
                  <!--and ${criterion.condition} #{criterion.value}-->
                <!--</when>-->
                <!--<when test="criterion.betweenValue">-->
                  <!--and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}-->
                <!--</when>-->
                <!--<when test="criterion.listValue">-->
                  <!--and ${criterion.condition}-->
                  <!--<foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">-->
                    <!--#{listItem}-->
                  <!--</foreach>-->
                <!--</when>-->
              <!--</choose>-->
            <!--</foreach>-->
          <!--</trim>-->
        <!--</if>-->
      <!--</foreach>-->
    <!--</where>-->
  <!--</sql>-->
  <!--<sql id="Update_By_Example_Where_Clause">-->
    <!--<where>-->
      <!--<foreach collection="example.oredCriteria" item="criteria" separator="or">-->
        <!--<if test="criteria.valid">-->
          <!--<trim prefix="(" prefixOverrides="and" suffix=")">-->
            <!--<foreach collection="criteria.criteria" item="criterion">-->
              <!--<choose>-->
                <!--<when test="criterion.noValue">-->
                  <!--and ${criterion.condition}-->
                <!--</when>-->
                <!--<when test="criterion.singleValue">-->
                  <!--and ${criterion.condition} #{criterion.value}-->
                <!--</when>-->
                <!--<when test="criterion.betweenValue">-->
                  <!--and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}-->
                <!--</when>-->
                <!--<when test="criterion.listValue">-->
                  <!--and ${criterion.condition}-->
                  <!--<foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">-->
                    <!--#{listItem}-->
                  <!--</foreach>-->
                <!--</when>-->
              <!--</choose>-->
            <!--</foreach>-->
          <!--</trim>-->
        <!--</if>-->
      <!--</foreach>-->
    <!--</where>-->
  <!--</sql>-->
  <!--<sql id="Base_Column_List">-->
    <!--URID, OURORGID, OPPORGID, PRIORITY, CATEGORY, CORECOMPANYSUPPLIERRATE, CREATEDBY, -->
    <!--CREATEDON, LASTMODIFIEDBY, LASTMODIFIEDON, ROWVERSION, DESCRIPTION, ISBLACK, EXTENSIONDATE, -->
    <!--ORGANIZATIONRELATIONID-->
  <!--</sql>-->
  <!--<select id="selectByExample" parameterType="com.ceying.chx.cpi.base.rm.base.test.OrganizationRelationExample" resultMap="BaseResultMap">-->
    <!--select-->
    <!--<if test="distinct">-->
      <!--distinct-->
    <!--</if>-->
    <!--<include refid="Base_Column_List" />-->
    <!--from T_ORGANIZATIONRELATION-->
    <!--<if test="_parameter != null">-->
      <!--<include refid="Example_Where_Clause" />-->
    <!--</if>-->
    <!--<if test="orderByClause != null">-->
      <!--order by ${orderByClause}-->
    <!--</if>-->
  <!--</select>-->
  <!--<select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">-->
    <!--select -->
    <!--<include refid="Base_Column_List" />-->
    <!--from T_ORGANIZATIONRELATION-->
    <!--where URID = #{urid,jdbcType=VARCHAR}-->
  <!--</select>-->
  <!--<delete id="deleteByPrimaryKey" parameterType="java.lang.String">-->
    <!--delete from T_ORGANIZATIONRELATION-->
    <!--where URID = #{urid,jdbcType=VARCHAR}-->
  <!--</delete>-->
  <!--<delete id="deleteByExample" parameterType="com.ceying.chx.cpi.base.rm.base.test.OrganizationRelationExample">-->
    <!--delete from T_ORGANIZATIONRELATION-->
    <!--<if test="_parameter != null">-->
      <!--<include refid="Example_Where_Clause" />-->
    <!--</if>-->
  <!--</delete>-->
  <!--<insert id="insert" parameterType="com.ceying.chx.cpi.base.rm.base.test.OrganizationRelation">-->
    <!--insert into T_ORGANIZATIONRELATION (URID, OURORGID, OPPORGID, -->
      <!--PRIORITY, CATEGORY, CORECOMPANYSUPPLIERRATE, -->
      <!--CREATEDBY, CREATEDON, LASTMODIFIEDBY, -->
      <!--LASTMODIFIEDON, ROWVERSION, DESCRIPTION, -->
      <!--ISBLACK, EXTENSIONDATE, ORGANIZATIONRELATIONID-->
      <!--)-->
    <!--values (#{urid,jdbcType=VARCHAR}, #{ourorgid,jdbcType=VARCHAR}, #{opporgid,jdbcType=VARCHAR}, -->
      <!--#{priority,jdbcType=VARCHAR}, #{category,jdbcType=VARCHAR}, #{corecompanysupplierrate,jdbcType=FLOAT}, -->
      <!--#{createdby,jdbcType=VARCHAR}, #{createdon,jdbcType=DATE}, #{lastmodifiedby,jdbcType=VARCHAR}, -->
      <!--#{lastmodifiedon,jdbcType=DATE}, #{rowversion,jdbcType=DECIMAL}, #{description,jdbcType=VARCHAR}, -->
      <!--#{isblack,jdbcType=VARCHAR}, #{extensiondate,jdbcType=DECIMAL}, #{organizationrelationid,jdbcType=VARCHAR}-->
      <!--)-->
  <!--</insert>-->
  <!--<insert id="insertSelective" parameterType="com.ceying.chx.cpi.base.rm.base.test.OrganizationRelation">-->
    <!--insert into T_ORGANIZATIONRELATION-->
    <!--<trim prefix="(" suffix=")" suffixOverrides=",">-->
      <!--<if test="urid != null">-->
        <!--URID,-->
      <!--</if>-->
      <!--<if test="ourorgid != null">-->
        <!--OURORGID,-->
      <!--</if>-->
      <!--<if test="opporgid != null">-->
        <!--OPPORGID,-->
      <!--</if>-->
      <!--<if test="priority != null">-->
        <!--PRIORITY,-->
      <!--</if>-->
      <!--<if test="category != null">-->
        <!--CATEGORY,-->
      <!--</if>-->
      <!--<if test="corecompanysupplierrate != null">-->
        <!--CORECOMPANYSUPPLIERRATE,-->
      <!--</if>-->
      <!--<if test="createdby != null">-->
        <!--CREATEDBY,-->
      <!--</if>-->
      <!--<if test="createdon != null">-->
        <!--CREATEDON,-->
      <!--</if>-->
      <!--<if test="lastmodifiedby != null">-->
        <!--LASTMODIFIEDBY,-->
      <!--</if>-->
      <!--<if test="lastmodifiedon != null">-->
        <!--LASTMODIFIEDON,-->
      <!--</if>-->
      <!--<if test="rowversion != null">-->
        <!--ROWVERSION,-->
      <!--</if>-->
      <!--<if test="description != null">-->
        <!--DESCRIPTION,-->
      <!--</if>-->
      <!--<if test="isblack != null">-->
        <!--ISBLACK,-->
      <!--</if>-->
      <!--<if test="extensiondate != null">-->
        <!--EXTENSIONDATE,-->
      <!--</if>-->
      <!--<if test="organizationrelationid != null">-->
        <!--ORGANIZATIONRELATIONID,-->
      <!--</if>-->
    <!--</trim>-->
    <!--<trim prefix="values (" suffix=")" suffixOverrides=",">-->
      <!--<if test="urid != null">-->
        <!--#{urid,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="ourorgid != null">-->
        <!--#{ourorgid,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="opporgid != null">-->
        <!--#{opporgid,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="priority != null">-->
        <!--#{priority,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="category != null">-->
        <!--#{category,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="corecompanysupplierrate != null">-->
        <!--#{corecompanysupplierrate,jdbcType=FLOAT},-->
      <!--</if>-->
      <!--<if test="createdby != null">-->
        <!--#{createdby,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="createdon != null">-->
        <!--#{createdon,jdbcType=DATE},-->
      <!--</if>-->
      <!--<if test="lastmodifiedby != null">-->
        <!--#{lastmodifiedby,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="lastmodifiedon != null">-->
        <!--#{lastmodifiedon,jdbcType=DATE},-->
      <!--</if>-->
      <!--<if test="rowversion != null">-->
        <!--#{rowversion,jdbcType=DECIMAL},-->
      <!--</if>-->
      <!--<if test="description != null">-->
        <!--#{description,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="isblack != null">-->
        <!--#{isblack,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="extensiondate != null">-->
        <!--#{extensiondate,jdbcType=DECIMAL},-->
      <!--</if>-->
      <!--<if test="organizationrelationid != null">-->
        <!--#{organizationrelationid,jdbcType=VARCHAR},-->
      <!--</if>-->
    <!--</trim>-->
  <!--</insert>-->
  <!--<select id="countByExample" parameterType="com.ceying.chx.cpi.base.rm.base.test.OrganizationRelationExample" resultType="java.lang.Long">-->
    <!--select count(*) from T_ORGANIZATIONRELATION-->
    <!--<if test="_parameter != null">-->
      <!--<include refid="Example_Where_Clause" />-->
    <!--</if>-->
  <!--</select>-->
  <!--<update id="updateByExampleSelective" parameterType="map">-->
    <!--update T_ORGANIZATIONRELATION-->
    <!--<set>-->
      <!--<if test="record.urid != null">-->
        <!--URID = #{record.urid,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.ourorgid != null">-->
        <!--OURORGID = #{record.ourorgid,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.opporgid != null">-->
        <!--OPPORGID = #{record.opporgid,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.priority != null">-->
        <!--PRIORITY = #{record.priority,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.category != null">-->
        <!--CATEGORY = #{record.category,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.corecompanysupplierrate != null">-->
        <!--CORECOMPANYSUPPLIERRATE = #{record.corecompanysupplierrate,jdbcType=FLOAT},-->
      <!--</if>-->
      <!--<if test="record.createdby != null">-->
        <!--CREATEDBY = #{record.createdby,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.createdon != null">-->
        <!--CREATEDON = #{record.createdon,jdbcType=DATE},-->
      <!--</if>-->
      <!--<if test="record.lastmodifiedby != null">-->
        <!--LASTMODIFIEDBY = #{record.lastmodifiedby,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.lastmodifiedon != null">-->
        <!--LASTMODIFIEDON = #{record.lastmodifiedon,jdbcType=DATE},-->
      <!--</if>-->
      <!--<if test="record.rowversion != null">-->
        <!--ROWVERSION = #{record.rowversion,jdbcType=DECIMAL},-->
      <!--</if>-->
      <!--<if test="record.description != null">-->
        <!--DESCRIPTION = #{record.description,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.isblack != null">-->
        <!--ISBLACK = #{record.isblack,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.extensiondate != null">-->
        <!--EXTENSIONDATE = #{record.extensiondate,jdbcType=DECIMAL},-->
      <!--</if>-->
      <!--<if test="record.organizationrelationid != null">-->
        <!--ORGANIZATIONRELATIONID = #{record.organizationrelationid,jdbcType=VARCHAR},-->
      <!--</if>-->
    <!--</set>-->
    <!--<if test="_parameter != null">-->
      <!--<include refid="Update_By_Example_Where_Clause" />-->
    <!--</if>-->
  <!--</update>-->
  <!--<update id="updateByExample" parameterType="map">-->
    <!--update T_ORGANIZATIONRELATION-->
    <!--set URID = #{record.urid,jdbcType=VARCHAR},-->
      <!--OURORGID = #{record.ourorgid,jdbcType=VARCHAR},-->
      <!--OPPORGID = #{record.opporgid,jdbcType=VARCHAR},-->
      <!--PRIORITY = #{record.priority,jdbcType=VARCHAR},-->
      <!--CATEGORY = #{record.category,jdbcType=VARCHAR},-->
      <!--CORECOMPANYSUPPLIERRATE = #{record.corecompanysupplierrate,jdbcType=FLOAT},-->
      <!--CREATEDBY = #{record.createdby,jdbcType=VARCHAR},-->
      <!--CREATEDON = #{record.createdon,jdbcType=DATE},-->
      <!--LASTMODIFIEDBY = #{record.lastmodifiedby,jdbcType=VARCHAR},-->
      <!--LASTMODIFIEDON = #{record.lastmodifiedon,jdbcType=DATE},-->
      <!--ROWVERSION = #{record.rowversion,jdbcType=DECIMAL},-->
      <!--DESCRIPTION = #{record.description,jdbcType=VARCHAR},-->
      <!--ISBLACK = #{record.isblack,jdbcType=VARCHAR},-->
      <!--EXTENSIONDATE = #{record.extensiondate,jdbcType=DECIMAL},-->
      <!--ORGANIZATIONRELATIONID = #{record.organizationrelationid,jdbcType=VARCHAR}-->
    <!--<if test="_parameter != null">-->
      <!--<include refid="Update_By_Example_Where_Clause" />-->
    <!--</if>-->
  <!--</update>-->
  <!--<update id="updateByPrimaryKeySelective" parameterType="com.ceying.chx.cpi.base.rm.base.test.OrganizationRelation">-->
    <!--update T_ORGANIZATIONRELATION-->
    <!--<set>-->
      <!--<if test="ourorgid != null">-->
        <!--OURORGID = #{ourorgid,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="opporgid != null">-->
        <!--OPPORGID = #{opporgid,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="priority != null">-->
        <!--PRIORITY = #{priority,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="category != null">-->
        <!--CATEGORY = #{category,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="corecompanysupplierrate != null">-->
        <!--CORECOMPANYSUPPLIERRATE = #{corecompanysupplierrate,jdbcType=FLOAT},-->
      <!--</if>-->
      <!--<if test="createdby != null">-->
        <!--CREATEDBY = #{createdby,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="createdon != null">-->
        <!--CREATEDON = #{createdon,jdbcType=DATE},-->
      <!--</if>-->
      <!--<if test="lastmodifiedby != null">-->
        <!--LASTMODIFIEDBY = #{lastmodifiedby,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="lastmodifiedon != null">-->
        <!--LASTMODIFIEDON = #{lastmodifiedon,jdbcType=DATE},-->
      <!--</if>-->
      <!--<if test="rowversion != null">-->
        <!--ROWVERSION = #{rowversion,jdbcType=DECIMAL},-->
      <!--</if>-->
      <!--<if test="description != null">-->
        <!--DESCRIPTION = #{description,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="isblack != null">-->
        <!--ISBLACK = #{isblack,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="extensiondate != null">-->
        <!--EXTENSIONDATE = #{extensiondate,jdbcType=DECIMAL},-->
      <!--</if>-->
      <!--<if test="organizationrelationid != null">-->
        <!--ORGANIZATIONRELATIONID = #{organizationrelationid,jdbcType=VARCHAR},-->
      <!--</if>-->
    <!--</set>-->
    <!--where URID = #{urid,jdbcType=VARCHAR}-->
  <!--</update>-->
  <!--<update id="updateByPrimaryKey" parameterType="com.ceying.chx.cpi.base.rm.base.test.OrganizationRelation">-->
    <!--update T_ORGANIZATIONRELATION-->
    <!--set OURORGID = #{ourorgid,jdbcType=VARCHAR},-->
      <!--OPPORGID = #{opporgid,jdbcType=VARCHAR},-->
      <!--PRIORITY = #{priority,jdbcType=VARCHAR},-->
      <!--CATEGORY = #{category,jdbcType=VARCHAR},-->
      <!--CORECOMPANYSUPPLIERRATE = #{corecompanysupplierrate,jdbcType=FLOAT},-->
      <!--CREATEDBY = #{createdby,jdbcType=VARCHAR},-->
      <!--CREATEDON = #{createdon,jdbcType=DATE},-->
      <!--LASTMODIFIEDBY = #{lastmodifiedby,jdbcType=VARCHAR},-->
      <!--LASTMODIFIEDON = #{lastmodifiedon,jdbcType=DATE},-->
      <!--ROWVERSION = #{rowversion,jdbcType=DECIMAL},-->
      <!--DESCRIPTION = #{description,jdbcType=VARCHAR},-->
      <!--ISBLACK = #{isblack,jdbcType=VARCHAR},-->
      <!--EXTENSIONDATE = #{extensiondate,jdbcType=DECIMAL},-->
      <!--ORGANIZATIONRELATIONID = #{organizationrelationid,jdbcType=VARCHAR}-->
    <!--where URID = #{urid,jdbcType=VARCHAR}-->
  <!--</update>-->
  <!--<resultMap id="BaseResultMap" type="com.ceying.chx.cpi.base.rm.base.test.OrganizationRelation">-->
    <!--<id column="URID" jdbcType="VARCHAR" property="urid" />-->
    <!--<result column="OURORGID" jdbcType="VARCHAR" property="ourorgid" />-->
    <!--<result column="OPPORGID" jdbcType="VARCHAR" property="opporgid" />-->
    <!--<result column="PRIORITY" jdbcType="VARCHAR" property="priority" />-->
    <!--<result column="CATEGORY" jdbcType="VARCHAR" property="category" />-->
    <!--<result column="CORECOMPANYSUPPLIERRATE" jdbcType="FLOAT" property="corecompanysupplierrate" />-->
    <!--<result column="CREATEDBY" jdbcType="VARCHAR" property="createdby" />-->
    <!--<result column="CREATEDON" jdbcType="DATE" property="createdon" />-->
    <!--<result column="LASTMODIFIEDBY" jdbcType="VARCHAR" property="lastmodifiedby" />-->
    <!--<result column="LASTMODIFIEDON" jdbcType="DATE" property="lastmodifiedon" />-->
    <!--<result column="ROWVERSION" jdbcType="DECIMAL" property="rowversion" />-->
    <!--<result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />-->
    <!--<result column="ISBLACK" jdbcType="VARCHAR" property="isblack" />-->
    <!--<result column="EXTENSIONDATE" jdbcType="DECIMAL" property="extensiondate" />-->
    <!--<result column="ORGANIZATIONRELATIONID" jdbcType="VARCHAR" property="organizationrelationid" />-->
  <!--</resultMap>-->
  <!--<sql id="Example_Where_Clause">-->
    <!--<where>-->
      <!--<foreach collection="oredCriteria" item="criteria" separator="or">-->
        <!--<if test="criteria.valid">-->
          <!--<trim prefix="(" prefixOverrides="and" suffix=")">-->
            <!--<foreach collection="criteria.criteria" item="criterion">-->
              <!--<choose>-->
                <!--<when test="criterion.noValue">-->
                  <!--and ${criterion.condition}-->
                <!--</when>-->
                <!--<when test="criterion.singleValue">-->
                  <!--and ${criterion.condition} #{criterion.value}-->
                <!--</when>-->
                <!--<when test="criterion.betweenValue">-->
                  <!--and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}-->
                <!--</when>-->
                <!--<when test="criterion.listValue">-->
                  <!--and ${criterion.condition}-->
                  <!--<foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">-->
                    <!--#{listItem}-->
                  <!--</foreach>-->
                <!--</when>-->
              <!--</choose>-->
            <!--</foreach>-->
          <!--</trim>-->
        <!--</if>-->
      <!--</foreach>-->
    <!--</where>-->
  <!--</sql>-->
  <!--<sql id="Update_By_Example_Where_Clause">-->
    <!--<where>-->
      <!--<foreach collection="example.oredCriteria" item="criteria" separator="or">-->
        <!--<if test="criteria.valid">-->
          <!--<trim prefix="(" prefixOverrides="and" suffix=")">-->
            <!--<foreach collection="criteria.criteria" item="criterion">-->
              <!--<choose>-->
                <!--<when test="criterion.noValue">-->
                  <!--and ${criterion.condition}-->
                <!--</when>-->
                <!--<when test="criterion.singleValue">-->
                  <!--and ${criterion.condition} #{criterion.value}-->
                <!--</when>-->
                <!--<when test="criterion.betweenValue">-->
                  <!--and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}-->
                <!--</when>-->
                <!--<when test="criterion.listValue">-->
                  <!--and ${criterion.condition}-->
                  <!--<foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">-->
                    <!--#{listItem}-->
                  <!--</foreach>-->
                <!--</when>-->
              <!--</choose>-->
            <!--</foreach>-->
          <!--</trim>-->
        <!--</if>-->
      <!--</foreach>-->
    <!--</where>-->
  <!--</sql>-->
  <!--<sql id="Base_Column_List">-->
    <!--URID, OURORGID, OPPORGID, PRIORITY, CATEGORY, CORECOMPANYSUPPLIERRATE, CREATEDBY, -->
    <!--CREATEDON, LASTMODIFIEDBY, LASTMODIFIEDON, ROWVERSION, DESCRIPTION, ISBLACK, EXTENSIONDATE, -->
    <!--ORGANIZATIONRELATIONID-->
  <!--</sql>-->
  <!--<select id="selectByExample" parameterType="com.ceying.chx.cpi.base.rm.base.test.OrganizationRelationExample" resultMap="BaseResultMap">-->
    <!--select-->
    <!--<if test="distinct">-->
      <!--distinct-->
    <!--</if>-->
    <!--<include refid="Base_Column_List" />-->
    <!--from T_ORGANIZATIONRELATION-->
    <!--<if test="_parameter != null">-->
      <!--<include refid="Example_Where_Clause" />-->
    <!--</if>-->
    <!--<if test="orderByClause != null">-->
      <!--order by ${orderByClause}-->
    <!--</if>-->
  <!--</select>-->
  <!--<select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">-->
    <!--select -->
    <!--<include refid="Base_Column_List" />-->
    <!--from T_ORGANIZATIONRELATION-->
    <!--where URID = #{urid,jdbcType=VARCHAR}-->
  <!--</select>-->
  <!--<delete id="deleteByPrimaryKey" parameterType="java.lang.String">-->
    <!--delete from T_ORGANIZATIONRELATION-->
    <!--where URID = #{urid,jdbcType=VARCHAR}-->
  <!--</delete>-->
  <!--<delete id="deleteByExample" parameterType="com.ceying.chx.cpi.base.rm.base.test.OrganizationRelationExample">-->
    <!--delete from T_ORGANIZATIONRELATION-->
    <!--<if test="_parameter != null">-->
      <!--<include refid="Example_Where_Clause" />-->
    <!--</if>-->
  <!--</delete>-->
  <!--<insert id="insert" parameterType="com.ceying.chx.cpi.base.rm.base.test.OrganizationRelation">-->
    <!--insert into T_ORGANIZATIONRELATION (URID, OURORGID, OPPORGID, -->
      <!--PRIORITY, CATEGORY, CORECOMPANYSUPPLIERRATE, -->
      <!--CREATEDBY, CREATEDON, LASTMODIFIEDBY, -->
      <!--LASTMODIFIEDON, ROWVERSION, DESCRIPTION, -->
      <!--ISBLACK, EXTENSIONDATE, ORGANIZATIONRELATIONID-->
      <!--)-->
    <!--values (#{urid,jdbcType=VARCHAR}, #{ourorgid,jdbcType=VARCHAR}, #{opporgid,jdbcType=VARCHAR}, -->
      <!--#{priority,jdbcType=VARCHAR}, #{category,jdbcType=VARCHAR}, #{corecompanysupplierrate,jdbcType=FLOAT}, -->
      <!--#{createdby,jdbcType=VARCHAR}, #{createdon,jdbcType=DATE}, #{lastmodifiedby,jdbcType=VARCHAR}, -->
      <!--#{lastmodifiedon,jdbcType=DATE}, #{rowversion,jdbcType=DECIMAL}, #{description,jdbcType=VARCHAR}, -->
      <!--#{isblack,jdbcType=VARCHAR}, #{extensiondate,jdbcType=DECIMAL}, #{organizationrelationid,jdbcType=VARCHAR}-->
      <!--)-->
  <!--</insert>-->
  <!--<insert id="insertSelective" parameterType="com.ceying.chx.cpi.base.rm.base.test.OrganizationRelation">-->
    <!--insert into T_ORGANIZATIONRELATION-->
    <!--<trim prefix="(" suffix=")" suffixOverrides=",">-->
      <!--<if test="urid != null">-->
        <!--URID,-->
      <!--</if>-->
      <!--<if test="ourorgid != null">-->
        <!--OURORGID,-->
      <!--</if>-->
      <!--<if test="opporgid != null">-->
        <!--OPPORGID,-->
      <!--</if>-->
      <!--<if test="priority != null">-->
        <!--PRIORITY,-->
      <!--</if>-->
      <!--<if test="category != null">-->
        <!--CATEGORY,-->
      <!--</if>-->
      <!--<if test="corecompanysupplierrate != null">-->
        <!--CORECOMPANYSUPPLIERRATE,-->
      <!--</if>-->
      <!--<if test="createdby != null">-->
        <!--CREATEDBY,-->
      <!--</if>-->
      <!--<if test="createdon != null">-->
        <!--CREATEDON,-->
      <!--</if>-->
      <!--<if test="lastmodifiedby != null">-->
        <!--LASTMODIFIEDBY,-->
      <!--</if>-->
      <!--<if test="lastmodifiedon != null">-->
        <!--LASTMODIFIEDON,-->
      <!--</if>-->
      <!--<if test="rowversion != null">-->
        <!--ROWVERSION,-->
      <!--</if>-->
      <!--<if test="description != null">-->
        <!--DESCRIPTION,-->
      <!--</if>-->
      <!--<if test="isblack != null">-->
        <!--ISBLACK,-->
      <!--</if>-->
      <!--<if test="extensiondate != null">-->
        <!--EXTENSIONDATE,-->
      <!--</if>-->
      <!--<if test="organizationrelationid != null">-->
        <!--ORGANIZATIONRELATIONID,-->
      <!--</if>-->
    <!--</trim>-->
    <!--<trim prefix="values (" suffix=")" suffixOverrides=",">-->
      <!--<if test="urid != null">-->
        <!--#{urid,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="ourorgid != null">-->
        <!--#{ourorgid,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="opporgid != null">-->
        <!--#{opporgid,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="priority != null">-->
        <!--#{priority,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="category != null">-->
        <!--#{category,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="corecompanysupplierrate != null">-->
        <!--#{corecompanysupplierrate,jdbcType=FLOAT},-->
      <!--</if>-->
      <!--<if test="createdby != null">-->
        <!--#{createdby,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="createdon != null">-->
        <!--#{createdon,jdbcType=DATE},-->
      <!--</if>-->
      <!--<if test="lastmodifiedby != null">-->
        <!--#{lastmodifiedby,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="lastmodifiedon != null">-->
        <!--#{lastmodifiedon,jdbcType=DATE},-->
      <!--</if>-->
      <!--<if test="rowversion != null">-->
        <!--#{rowversion,jdbcType=DECIMAL},-->
      <!--</if>-->
      <!--<if test="description != null">-->
        <!--#{description,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="isblack != null">-->
        <!--#{isblack,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="extensiondate != null">-->
        <!--#{extensiondate,jdbcType=DECIMAL},-->
      <!--</if>-->
      <!--<if test="organizationrelationid != null">-->
        <!--#{organizationrelationid,jdbcType=VARCHAR},-->
      <!--</if>-->
    <!--</trim>-->
  <!--</insert>-->
  <!--<select id="countByExample" parameterType="com.ceying.chx.cpi.base.rm.base.test.OrganizationRelationExample" resultType="java.lang.Long">-->
    <!--select count(*) from T_ORGANIZATIONRELATION-->
    <!--<if test="_parameter != null">-->
      <!--<include refid="Example_Where_Clause" />-->
    <!--</if>-->
  <!--</select>-->
  <!--<update id="updateByExampleSelective" parameterType="map">-->
    <!--update T_ORGANIZATIONRELATION-->
    <!--<set>-->
      <!--<if test="record.urid != null">-->
        <!--URID = #{record.urid,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.ourorgid != null">-->
        <!--OURORGID = #{record.ourorgid,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.opporgid != null">-->
        <!--OPPORGID = #{record.opporgid,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.priority != null">-->
        <!--PRIORITY = #{record.priority,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.category != null">-->
        <!--CATEGORY = #{record.category,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.corecompanysupplierrate != null">-->
        <!--CORECOMPANYSUPPLIERRATE = #{record.corecompanysupplierrate,jdbcType=FLOAT},-->
      <!--</if>-->
      <!--<if test="record.createdby != null">-->
        <!--CREATEDBY = #{record.createdby,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.createdon != null">-->
        <!--CREATEDON = #{record.createdon,jdbcType=DATE},-->
      <!--</if>-->
      <!--<if test="record.lastmodifiedby != null">-->
        <!--LASTMODIFIEDBY = #{record.lastmodifiedby,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.lastmodifiedon != null">-->
        <!--LASTMODIFIEDON = #{record.lastmodifiedon,jdbcType=DATE},-->
      <!--</if>-->
      <!--<if test="record.rowversion != null">-->
        <!--ROWVERSION = #{record.rowversion,jdbcType=DECIMAL},-->
      <!--</if>-->
      <!--<if test="record.description != null">-->
        <!--DESCRIPTION = #{record.description,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.isblack != null">-->
        <!--ISBLACK = #{record.isblack,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.extensiondate != null">-->
        <!--EXTENSIONDATE = #{record.extensiondate,jdbcType=DECIMAL},-->
      <!--</if>-->
      <!--<if test="record.organizationrelationid != null">-->
        <!--ORGANIZATIONRELATIONID = #{record.organizationrelationid,jdbcType=VARCHAR},-->
      <!--</if>-->
    <!--</set>-->
    <!--<if test="_parameter != null">-->
      <!--<include refid="Update_By_Example_Where_Clause" />-->
    <!--</if>-->
  <!--</update>-->
  <!--<update id="updateByExample" parameterType="map">-->
    <!--update T_ORGANIZATIONRELATION-->
    <!--set URID = #{record.urid,jdbcType=VARCHAR},-->
      <!--OURORGID = #{record.ourorgid,jdbcType=VARCHAR},-->
      <!--OPPORGID = #{record.opporgid,jdbcType=VARCHAR},-->
      <!--PRIORITY = #{record.priority,jdbcType=VARCHAR},-->
      <!--CATEGORY = #{record.category,jdbcType=VARCHAR},-->
      <!--CORECOMPANYSUPPLIERRATE = #{record.corecompanysupplierrate,jdbcType=FLOAT},-->
      <!--CREATEDBY = #{record.createdby,jdbcType=VARCHAR},-->
      <!--CREATEDON = #{record.createdon,jdbcType=DATE},-->
      <!--LASTMODIFIEDBY = #{record.lastmodifiedby,jdbcType=VARCHAR},-->
      <!--LASTMODIFIEDON = #{record.lastmodifiedon,jdbcType=DATE},-->
      <!--ROWVERSION = #{record.rowversion,jdbcType=DECIMAL},-->
      <!--DESCRIPTION = #{record.description,jdbcType=VARCHAR},-->
      <!--ISBLACK = #{record.isblack,jdbcType=VARCHAR},-->
      <!--EXTENSIONDATE = #{record.extensiondate,jdbcType=DECIMAL},-->
      <!--ORGANIZATIONRELATIONID = #{record.organizationrelationid,jdbcType=VARCHAR}-->
    <!--<if test="_parameter != null">-->
      <!--<include refid="Update_By_Example_Where_Clause" />-->
    <!--</if>-->
  <!--</update>-->
  <!--<update id="updateByPrimaryKeySelective" parameterType="com.ceying.chx.cpi.base.rm.base.test.OrganizationRelation">-->
    <!--update T_ORGANIZATIONRELATION-->
    <!--<set>-->
      <!--<if test="ourorgid != null">-->
        <!--OURORGID = #{ourorgid,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="opporgid != null">-->
        <!--OPPORGID = #{opporgid,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="priority != null">-->
        <!--PRIORITY = #{priority,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="category != null">-->
        <!--CATEGORY = #{category,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="corecompanysupplierrate != null">-->
        <!--CORECOMPANYSUPPLIERRATE = #{corecompanysupplierrate,jdbcType=FLOAT},-->
      <!--</if>-->
      <!--<if test="createdby != null">-->
        <!--CREATEDBY = #{createdby,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="createdon != null">-->
        <!--CREATEDON = #{createdon,jdbcType=DATE},-->
      <!--</if>-->
      <!--<if test="lastmodifiedby != null">-->
        <!--LASTMODIFIEDBY = #{lastmodifiedby,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="lastmodifiedon != null">-->
        <!--LASTMODIFIEDON = #{lastmodifiedon,jdbcType=DATE},-->
      <!--</if>-->
      <!--<if test="rowversion != null">-->
        <!--ROWVERSION = #{rowversion,jdbcType=DECIMAL},-->
      <!--</if>-->
      <!--<if test="description != null">-->
        <!--DESCRIPTION = #{description,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="isblack != null">-->
        <!--ISBLACK = #{isblack,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="extensiondate != null">-->
        <!--EXTENSIONDATE = #{extensiondate,jdbcType=DECIMAL},-->
      <!--</if>-->
      <!--<if test="organizationrelationid != null">-->
        <!--ORGANIZATIONRELATIONID = #{organizationrelationid,jdbcType=VARCHAR},-->
      <!--</if>-->
    <!--</set>-->
    <!--where URID = #{urid,jdbcType=VARCHAR}-->
  <!--</update>-->
  <!--<update id="updateByPrimaryKey" parameterType="com.ceying.chx.cpi.base.rm.base.test.OrganizationRelation">-->
    <!--update T_ORGANIZATIONRELATION-->
    <!--set OURORGID = #{ourorgid,jdbcType=VARCHAR},-->
      <!--OPPORGID = #{opporgid,jdbcType=VARCHAR},-->
      <!--PRIORITY = #{priority,jdbcType=VARCHAR},-->
      <!--CATEGORY = #{category,jdbcType=VARCHAR},-->
      <!--CORECOMPANYSUPPLIERRATE = #{corecompanysupplierrate,jdbcType=FLOAT},-->
      <!--CREATEDBY = #{createdby,jdbcType=VARCHAR},-->
      <!--CREATEDON = #{createdon,jdbcType=DATE},-->
      <!--LASTMODIFIEDBY = #{lastmodifiedby,jdbcType=VARCHAR},-->
      <!--LASTMODIFIEDON = #{lastmodifiedon,jdbcType=DATE},-->
      <!--ROWVERSION = #{rowversion,jdbcType=DECIMAL},-->
      <!--DESCRIPTION = #{description,jdbcType=VARCHAR},-->
      <!--ISBLACK = #{isblack,jdbcType=VARCHAR},-->
      <!--EXTENSIONDATE = #{extensiondate,jdbcType=DECIMAL},-->
      <!--ORGANIZATIONRELATIONID = #{organizationrelationid,jdbcType=VARCHAR}-->
    <!--where URID = #{urid,jdbcType=VARCHAR}-->
  <!--</update>-->
</mapper>