<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ceying.chx.cpi.base.rm.org.dao.RoleDao">
  <resultMap id="BaseResultMap" type="com.ceying.chx.cpi.base.rm.org.entity.Role">
    <id column="ROLE_CODE" jdbcType="VARCHAR" property="roleCode" />
    <result column="ROLE_NAME" jdbcType="VARCHAR" property="roleName" />
    <result column="CREATOR" jdbcType="VARCHAR" property="creator" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="PARENT_ID" jdbcType="VARCHAR" property="parentId" />
    <result column="ROLE_PATH" jdbcType="VARCHAR" property="rolePath" />
    <result column="ROLE_ORDER" jdbcType="DECIMAL" property="roleOrder" />
    <result column="CREATE_DATE" jdbcType="DATE" property="createDate" />
    <result column="MODIFY_DATE" jdbcType="DATE" property="modifyDate" />
    <result column="ORG_ID" jdbcType="VARCHAR" property="orgId" />
    <result column="TENANT_ID" jdbcType="DECIMAL" property="tenantId" />
  </resultMap>
  <!--<sql id="Example_Where_Clause">-->
    <!--<where>-->
      <!--<foreach collection="oredCriteria" item="criteria" separator="or">-->
        <!--<if test="criteria.valid">-->
          <!--<trim prefix="(" prefixOverrides="and" suffix=")">-->
            <!--<foreach collection="criteria.criteria" item="criterion">-->
              <!--<choose>-->
                <!--<when test="criterion.noValue">-->
                  <!--and ${criterion.condition}-->
                <!--</when>-->
                <!--<when test="criterion.singleValue">-->
                  <!--and ${criterion.condition} #{criterion.value}-->
                <!--</when>-->
                <!--<when test="criterion.betweenValue">-->
                  <!--and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}-->
                <!--</when>-->
                <!--<when test="criterion.listValue">-->
                  <!--and ${criterion.condition}-->
                  <!--<foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">-->
                    <!--#{listItem}-->
                  <!--</foreach>-->
                <!--</when>-->
              <!--</choose>-->
            <!--</foreach>-->
          <!--</trim>-->
        <!--</if>-->
      <!--</foreach>-->
    <!--</where>-->
  <!--</sql>-->
  <!--<sql id="Update_By_Example_Where_Clause">-->
    <!--<where>-->
      <!--<foreach collection="example.oredCriteria" item="criteria" separator="or">-->
        <!--<if test="criteria.valid">-->
          <!--<trim prefix="(" prefixOverrides="and" suffix=")">-->
            <!--<foreach collection="criteria.criteria" item="criterion">-->
              <!--<choose>-->
                <!--<when test="criterion.noValue">-->
                  <!--and ${criterion.condition}-->
                <!--</when>-->
                <!--<when test="criterion.singleValue">-->
                  <!--and ${criterion.condition} #{criterion.value}-->
                <!--</when>-->
                <!--<when test="criterion.betweenValue">-->
                  <!--and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}-->
                <!--</when>-->
                <!--<when test="criterion.listValue">-->
                  <!--and ${criterion.condition}-->
                  <!--<foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">-->
                    <!--#{listItem}-->
                  <!--</foreach>-->
                <!--</when>-->
              <!--</choose>-->
            <!--</foreach>-->
          <!--</trim>-->
        <!--</if>-->
      <!--</foreach>-->
    <!--</where>-->
  <!--</sql>-->
  <!--<sql id="Base_Column_List">-->
    <!--ROLE_CODE, ROLE_NAME, CREATOR, REMARK, PARENT_ID, ROLE_PATH, ROLE_ORDER, CREATE_DATE, -->
    <!--MODIFY_DATE, ORG_ID, TENANT_ID-->
  <!--</sql>-->
  <!--<select id="selectByExample" parameterType="com.ceying.chx.cpi.base.rm.base.test.roleExample" resultMap="BaseResultMap">-->
    <!--select-->
    <!--<if test="distinct">-->
      <!--distinct-->
    <!--</if>-->
    <!--<include refid="Base_Column_List" />-->
    <!--from TSYS_ROLE-->
    <!--<if test="_parameter != null">-->
      <!--<include refid="Example_Where_Clause" />-->
    <!--</if>-->
    <!--<if test="orderByClause != null">-->
      <!--order by ${orderByClause}-->
    <!--</if>-->
  <!--</select>-->
  <!--<select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">-->
    <!--select -->
    <!--<include refid="Base_Column_List" />-->
    <!--from TSYS_ROLE-->
    <!--where ROLE_CODE = #{roleCode,jdbcType=VARCHAR}-->
  <!--</select>-->
  <!--<delete id="deleteByPrimaryKey" parameterType="java.lang.String">-->
    <!--delete from TSYS_ROLE-->
    <!--where ROLE_CODE = #{roleCode,jdbcType=VARCHAR}-->
  <!--</delete>-->
  <!--<delete id="deleteByExample" parameterType="com.ceying.chx.cpi.base.rm.base.test.roleExample">-->
    <!--delete from TSYS_ROLE-->
    <!--<if test="_parameter != null">-->
      <!--<include refid="Example_Where_Clause" />-->
    <!--</if>-->
  <!--</delete>-->
  <!--<insert id="insert" parameterType="com.ceying.chx.cpi.base.rm.base.test.role">-->
    <!--insert into TSYS_ROLE (ROLE_CODE, ROLE_NAME, CREATOR, -->
      <!--REMARK, PARENT_ID, ROLE_PATH, -->
      <!--ROLE_ORDER, CREATE_DATE, MODIFY_DATE, -->
      <!--ORG_ID, TENANT_ID)-->
    <!--values (#{roleCode,jdbcType=VARCHAR}, #{roleName,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, -->
      <!--#{remark,jdbcType=VARCHAR}, #{parentId,jdbcType=VARCHAR}, #{rolePath,jdbcType=VARCHAR}, -->
      <!--#{roleOrder,jdbcType=DECIMAL}, #{createDate,jdbcType=DATE}, #{modifyDate,jdbcType=DATE}, -->
      <!--#{orgId,jdbcType=VARCHAR}, #{tenantId,jdbcType=DECIMAL})-->
  <!--</insert>-->
  <!--<insert id="insertSelective" parameterType="com.ceying.chx.cpi.base.rm.base.test.role">-->
    <!--insert into TSYS_ROLE-->
    <!--<trim prefix="(" suffix=")" suffixOverrides=",">-->
      <!--<if test="roleCode != null">-->
        <!--ROLE_CODE,-->
      <!--</if>-->
      <!--<if test="roleName != null">-->
        <!--ROLE_NAME,-->
      <!--</if>-->
      <!--<if test="creator != null">-->
        <!--CREATOR,-->
      <!--</if>-->
      <!--<if test="remark != null">-->
        <!--REMARK,-->
      <!--</if>-->
      <!--<if test="parentId != null">-->
        <!--PARENT_ID,-->
      <!--</if>-->
      <!--<if test="rolePath != null">-->
        <!--ROLE_PATH,-->
      <!--</if>-->
      <!--<if test="roleOrder != null">-->
        <!--ROLE_ORDER,-->
      <!--</if>-->
      <!--<if test="createDate != null">-->
        <!--CREATE_DATE,-->
      <!--</if>-->
      <!--<if test="modifyDate != null">-->
        <!--MODIFY_DATE,-->
      <!--</if>-->
      <!--<if test="orgId != null">-->
        <!--ORG_ID,-->
      <!--</if>-->
      <!--<if test="tenantId != null">-->
        <!--TENANT_ID,-->
      <!--</if>-->
    <!--</trim>-->
    <!--<trim prefix="values (" suffix=")" suffixOverrides=",">-->
      <!--<if test="roleCode != null">-->
        <!--#{roleCode,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="roleName != null">-->
        <!--#{roleName,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="creator != null">-->
        <!--#{creator,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="remark != null">-->
        <!--#{remark,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="parentId != null">-->
        <!--#{parentId,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="rolePath != null">-->
        <!--#{rolePath,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="roleOrder != null">-->
        <!--#{roleOrder,jdbcType=DECIMAL},-->
      <!--</if>-->
      <!--<if test="createDate != null">-->
        <!--#{createDate,jdbcType=DATE},-->
      <!--</if>-->
      <!--<if test="modifyDate != null">-->
        <!--#{modifyDate,jdbcType=DATE},-->
      <!--</if>-->
      <!--<if test="orgId != null">-->
        <!--#{orgId,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="tenantId != null">-->
        <!--#{tenantId,jdbcType=DECIMAL},-->
      <!--</if>-->
    <!--</trim>-->
  <!--</insert>-->
  <!--<select id="countByExample" parameterType="com.ceying.chx.cpi.base.rm.base.test.roleExample" resultType="java.lang.Long">-->
    <!--select count(*) from TSYS_ROLE-->
    <!--<if test="_parameter != null">-->
      <!--<include refid="Example_Where_Clause" />-->
    <!--</if>-->
  <!--</select>-->
  <!--<update id="updateByExampleSelective" parameterType="map">-->
    <!--update TSYS_ROLE-->
    <!--<set>-->
      <!--<if test="record.roleCode != null">-->
        <!--ROLE_CODE = #{record.roleCode,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.roleName != null">-->
        <!--ROLE_NAME = #{record.roleName,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.creator != null">-->
        <!--CREATOR = #{record.creator,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.remark != null">-->
        <!--REMARK = #{record.remark,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.parentId != null">-->
        <!--PARENT_ID = #{record.parentId,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.rolePath != null">-->
        <!--ROLE_PATH = #{record.rolePath,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.roleOrder != null">-->
        <!--ROLE_ORDER = #{record.roleOrder,jdbcType=DECIMAL},-->
      <!--</if>-->
      <!--<if test="record.createDate != null">-->
        <!--CREATE_DATE = #{record.createDate,jdbcType=DATE},-->
      <!--</if>-->
      <!--<if test="record.modifyDate != null">-->
        <!--MODIFY_DATE = #{record.modifyDate,jdbcType=DATE},-->
      <!--</if>-->
      <!--<if test="record.orgId != null">-->
        <!--ORG_ID = #{record.orgId,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.tenantId != null">-->
        <!--TENANT_ID = #{record.tenantId,jdbcType=DECIMAL},-->
      <!--</if>-->
    <!--</set>-->
    <!--<if test="_parameter != null">-->
      <!--<include refid="Update_By_Example_Where_Clause" />-->
    <!--</if>-->
  <!--</update>-->
  <!--<update id="updateByExample" parameterType="map">-->
    <!--update TSYS_ROLE-->
    <!--set ROLE_CODE = #{record.roleCode,jdbcType=VARCHAR},-->
      <!--ROLE_NAME = #{record.roleName,jdbcType=VARCHAR},-->
      <!--CREATOR = #{record.creator,jdbcType=VARCHAR},-->
      <!--REMARK = #{record.remark,jdbcType=VARCHAR},-->
      <!--PARENT_ID = #{record.parentId,jdbcType=VARCHAR},-->
      <!--ROLE_PATH = #{record.rolePath,jdbcType=VARCHAR},-->
      <!--ROLE_ORDER = #{record.roleOrder,jdbcType=DECIMAL},-->
      <!--CREATE_DATE = #{record.createDate,jdbcType=DATE},-->
      <!--MODIFY_DATE = #{record.modifyDate,jdbcType=DATE},-->
      <!--ORG_ID = #{record.orgId,jdbcType=VARCHAR},-->
      <!--TENANT_ID = #{record.tenantId,jdbcType=DECIMAL}-->
    <!--<if test="_parameter != null">-->
      <!--<include refid="Update_By_Example_Where_Clause" />-->
    <!--</if>-->
  <!--</update>-->
  <!--<update id="updateByPrimaryKeySelective" parameterType="com.ceying.chx.cpi.base.rm.base.test.role">-->
    <!--update TSYS_ROLE-->
    <!--<set>-->
      <!--<if test="roleName != null">-->
        <!--ROLE_NAME = #{roleName,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="creator != null">-->
        <!--CREATOR = #{creator,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="remark != null">-->
        <!--REMARK = #{remark,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="parentId != null">-->
        <!--PARENT_ID = #{parentId,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="rolePath != null">-->
        <!--ROLE_PATH = #{rolePath,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="roleOrder != null">-->
        <!--ROLE_ORDER = #{roleOrder,jdbcType=DECIMAL},-->
      <!--</if>-->
      <!--<if test="createDate != null">-->
        <!--CREATE_DATE = #{createDate,jdbcType=DATE},-->
      <!--</if>-->
      <!--<if test="modifyDate != null">-->
        <!--MODIFY_DATE = #{modifyDate,jdbcType=DATE},-->
      <!--</if>-->
      <!--<if test="orgId != null">-->
        <!--ORG_ID = #{orgId,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="tenantId != null">-->
        <!--TENANT_ID = #{tenantId,jdbcType=DECIMAL},-->
      <!--</if>-->
    <!--</set>-->
    <!--where ROLE_CODE = #{roleCode,jdbcType=VARCHAR}-->
  <!--</update>-->
  <!--<update id="updateByPrimaryKey" parameterType="com.ceying.chx.cpi.base.rm.base.test.role">-->
    <!--update TSYS_ROLE-->
    <!--set ROLE_NAME = #{roleName,jdbcType=VARCHAR},-->
      <!--CREATOR = #{creator,jdbcType=VARCHAR},-->
      <!--REMARK = #{remark,jdbcType=VARCHAR},-->
      <!--PARENT_ID = #{parentId,jdbcType=VARCHAR},-->
      <!--ROLE_PATH = #{rolePath,jdbcType=VARCHAR},-->
      <!--ROLE_ORDER = #{roleOrder,jdbcType=DECIMAL},-->
      <!--CREATE_DATE = #{createDate,jdbcType=DATE},-->
      <!--MODIFY_DATE = #{modifyDate,jdbcType=DATE},-->
      <!--ORG_ID = #{orgId,jdbcType=VARCHAR},-->
      <!--TENANT_ID = #{tenantId,jdbcType=DECIMAL}-->
    <!--where ROLE_CODE = #{roleCode,jdbcType=VARCHAR}-->
  <!--</update>-->
  <!--<resultMap id="BaseResultMap" type="com.ceying.chx.cpi.base.rm.base.test.role">-->
    <!--<id column="ROLE_CODE" jdbcType="VARCHAR" property="roleCode" />-->
    <!--<result column="ROLE_NAME" jdbcType="VARCHAR" property="roleName" />-->
    <!--<result column="CREATOR" jdbcType="VARCHAR" property="creator" />-->
    <!--<result column="REMARK" jdbcType="VARCHAR" property="remark" />-->
    <!--<result column="PARENT_ID" jdbcType="VARCHAR" property="parentId" />-->
    <!--<result column="ROLE_PATH" jdbcType="VARCHAR" property="rolePath" />-->
    <!--<result column="ROLE_ORDER" jdbcType="DECIMAL" property="roleOrder" />-->
    <!--<result column="CREATE_DATE" jdbcType="DATE" property="createDate" />-->
    <!--<result column="MODIFY_DATE" jdbcType="DATE" property="modifyDate" />-->
    <!--<result column="ORG_ID" jdbcType="VARCHAR" property="orgId" />-->
    <!--<result column="TENANT_ID" jdbcType="DECIMAL" property="tenantId" />-->
  <!--</resultMap>-->
  <!--<sql id="Example_Where_Clause">-->
    <!--<where>-->
      <!--<foreach collection="oredCriteria" item="criteria" separator="or">-->
        <!--<if test="criteria.valid">-->
          <!--<trim prefix="(" prefixOverrides="and" suffix=")">-->
            <!--<foreach collection="criteria.criteria" item="criterion">-->
              <!--<choose>-->
                <!--<when test="criterion.noValue">-->
                  <!--and ${criterion.condition}-->
                <!--</when>-->
                <!--<when test="criterion.singleValue">-->
                  <!--and ${criterion.condition} #{criterion.value}-->
                <!--</when>-->
                <!--<when test="criterion.betweenValue">-->
                  <!--and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}-->
                <!--</when>-->
                <!--<when test="criterion.listValue">-->
                  <!--and ${criterion.condition}-->
                  <!--<foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">-->
                    <!--#{listItem}-->
                  <!--</foreach>-->
                <!--</when>-->
              <!--</choose>-->
            <!--</foreach>-->
          <!--</trim>-->
        <!--</if>-->
      <!--</foreach>-->
    <!--</where>-->
  <!--</sql>-->
  <!--<sql id="Update_By_Example_Where_Clause">-->
    <!--<where>-->
      <!--<foreach collection="example.oredCriteria" item="criteria" separator="or">-->
        <!--<if test="criteria.valid">-->
          <!--<trim prefix="(" prefixOverrides="and" suffix=")">-->
            <!--<foreach collection="criteria.criteria" item="criterion">-->
              <!--<choose>-->
                <!--<when test="criterion.noValue">-->
                  <!--and ${criterion.condition}-->
                <!--</when>-->
                <!--<when test="criterion.singleValue">-->
                  <!--and ${criterion.condition} #{criterion.value}-->
                <!--</when>-->
                <!--<when test="criterion.betweenValue">-->
                  <!--and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}-->
                <!--</when>-->
                <!--<when test="criterion.listValue">-->
                  <!--and ${criterion.condition}-->
                  <!--<foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">-->
                    <!--#{listItem}-->
                  <!--</foreach>-->
                <!--</when>-->
              <!--</choose>-->
            <!--</foreach>-->
          <!--</trim>-->
        <!--</if>-->
      <!--</foreach>-->
    <!--</where>-->
  <!--</sql>-->
  <!--<sql id="Base_Column_List">-->
    <!--ROLE_CODE, ROLE_NAME, CREATOR, REMARK, PARENT_ID, ROLE_PATH, ROLE_ORDER, CREATE_DATE, -->
    <!--MODIFY_DATE, ORG_ID, TENANT_ID-->
  <!--</sql>-->
  <!--<select id="selectByExample" parameterType="com.ceying.chx.cpi.base.rm.base.test.roleExample" resultMap="BaseResultMap">-->
    <!--select-->
    <!--<if test="distinct">-->
      <!--distinct-->
    <!--</if>-->
    <!--<include refid="Base_Column_List" />-->
    <!--from TSYS_ROLE-->
    <!--<if test="_parameter != null">-->
      <!--<include refid="Example_Where_Clause" />-->
    <!--</if>-->
    <!--<if test="orderByClause != null">-->
      <!--order by ${orderByClause}-->
    <!--</if>-->
  <!--</select>-->
  <!--<select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">-->
    <!--select -->
    <!--<include refid="Base_Column_List" />-->
    <!--from TSYS_ROLE-->
    <!--where ROLE_CODE = #{roleCode,jdbcType=VARCHAR}-->
  <!--</select>-->
  <!--<delete id="deleteByPrimaryKey" parameterType="java.lang.String">-->
    <!--delete from TSYS_ROLE-->
    <!--where ROLE_CODE = #{roleCode,jdbcType=VARCHAR}-->
  <!--</delete>-->
  <!--<delete id="deleteByExample" parameterType="com.ceying.chx.cpi.base.rm.base.test.roleExample">-->
    <!--delete from TSYS_ROLE-->
    <!--<if test="_parameter != null">-->
      <!--<include refid="Example_Where_Clause" />-->
    <!--</if>-->
  <!--</delete>-->
  <!--<insert id="insert" parameterType="com.ceying.chx.cpi.base.rm.base.test.role">-->
    <!--insert into TSYS_ROLE (ROLE_CODE, ROLE_NAME, CREATOR, -->
      <!--REMARK, PARENT_ID, ROLE_PATH, -->
      <!--ROLE_ORDER, CREATE_DATE, MODIFY_DATE, -->
      <!--ORG_ID, TENANT_ID)-->
    <!--values (#{roleCode,jdbcType=VARCHAR}, #{roleName,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, -->
      <!--#{remark,jdbcType=VARCHAR}, #{parentId,jdbcType=VARCHAR}, #{rolePath,jdbcType=VARCHAR}, -->
      <!--#{roleOrder,jdbcType=DECIMAL}, #{createDate,jdbcType=DATE}, #{modifyDate,jdbcType=DATE}, -->
      <!--#{orgId,jdbcType=VARCHAR}, #{tenantId,jdbcType=DECIMAL})-->
  <!--</insert>-->
  <!--<insert id="insertSelective" parameterType="com.ceying.chx.cpi.base.rm.base.test.role">-->
    <!--insert into TSYS_ROLE-->
    <!--<trim prefix="(" suffix=")" suffixOverrides=",">-->
      <!--<if test="roleCode != null">-->
        <!--ROLE_CODE,-->
      <!--</if>-->
      <!--<if test="roleName != null">-->
        <!--ROLE_NAME,-->
      <!--</if>-->
      <!--<if test="creator != null">-->
        <!--CREATOR,-->
      <!--</if>-->
      <!--<if test="remark != null">-->
        <!--REMARK,-->
      <!--</if>-->
      <!--<if test="parentId != null">-->
        <!--PARENT_ID,-->
      <!--</if>-->
      <!--<if test="rolePath != null">-->
        <!--ROLE_PATH,-->
      <!--</if>-->
      <!--<if test="roleOrder != null">-->
        <!--ROLE_ORDER,-->
      <!--</if>-->
      <!--<if test="createDate != null">-->
        <!--CREATE_DATE,-->
      <!--</if>-->
      <!--<if test="modifyDate != null">-->
        <!--MODIFY_DATE,-->
      <!--</if>-->
      <!--<if test="orgId != null">-->
        <!--ORG_ID,-->
      <!--</if>-->
      <!--<if test="tenantId != null">-->
        <!--TENANT_ID,-->
      <!--</if>-->
    <!--</trim>-->
    <!--<trim prefix="values (" suffix=")" suffixOverrides=",">-->
      <!--<if test="roleCode != null">-->
        <!--#{roleCode,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="roleName != null">-->
        <!--#{roleName,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="creator != null">-->
        <!--#{creator,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="remark != null">-->
        <!--#{remark,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="parentId != null">-->
        <!--#{parentId,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="rolePath != null">-->
        <!--#{rolePath,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="roleOrder != null">-->
        <!--#{roleOrder,jdbcType=DECIMAL},-->
      <!--</if>-->
      <!--<if test="createDate != null">-->
        <!--#{createDate,jdbcType=DATE},-->
      <!--</if>-->
      <!--<if test="modifyDate != null">-->
        <!--#{modifyDate,jdbcType=DATE},-->
      <!--</if>-->
      <!--<if test="orgId != null">-->
        <!--#{orgId,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="tenantId != null">-->
        <!--#{tenantId,jdbcType=DECIMAL},-->
      <!--</if>-->
    <!--</trim>-->
  <!--</insert>-->
  <!--<select id="countByExample" parameterType="com.ceying.chx.cpi.base.rm.base.test.roleExample" resultType="java.lang.Long">-->
    <!--select count(*) from TSYS_ROLE-->
    <!--<if test="_parameter != null">-->
      <!--<include refid="Example_Where_Clause" />-->
    <!--</if>-->
  <!--</select>-->
  <!--<update id="updateByExampleSelective" parameterType="map">-->
    <!--update TSYS_ROLE-->
    <!--<set>-->
      <!--<if test="record.roleCode != null">-->
        <!--ROLE_CODE = #{record.roleCode,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.roleName != null">-->
        <!--ROLE_NAME = #{record.roleName,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.creator != null">-->
        <!--CREATOR = #{record.creator,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.remark != null">-->
        <!--REMARK = #{record.remark,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.parentId != null">-->
        <!--PARENT_ID = #{record.parentId,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.rolePath != null">-->
        <!--ROLE_PATH = #{record.rolePath,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.roleOrder != null">-->
        <!--ROLE_ORDER = #{record.roleOrder,jdbcType=DECIMAL},-->
      <!--</if>-->
      <!--<if test="record.createDate != null">-->
        <!--CREATE_DATE = #{record.createDate,jdbcType=DATE},-->
      <!--</if>-->
      <!--<if test="record.modifyDate != null">-->
        <!--MODIFY_DATE = #{record.modifyDate,jdbcType=DATE},-->
      <!--</if>-->
      <!--<if test="record.orgId != null">-->
        <!--ORG_ID = #{record.orgId,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.tenantId != null">-->
        <!--TENANT_ID = #{record.tenantId,jdbcType=DECIMAL},-->
      <!--</if>-->
    <!--</set>-->
    <!--<if test="_parameter != null">-->
      <!--<include refid="Update_By_Example_Where_Clause" />-->
    <!--</if>-->
  <!--</update>-->
  <!--<update id="updateByExample" parameterType="map">-->
    <!--update TSYS_ROLE-->
    <!--set ROLE_CODE = #{record.roleCode,jdbcType=VARCHAR},-->
      <!--ROLE_NAME = #{record.roleName,jdbcType=VARCHAR},-->
      <!--CREATOR = #{record.creator,jdbcType=VARCHAR},-->
      <!--REMARK = #{record.remark,jdbcType=VARCHAR},-->
      <!--PARENT_ID = #{record.parentId,jdbcType=VARCHAR},-->
      <!--ROLE_PATH = #{record.rolePath,jdbcType=VARCHAR},-->
      <!--ROLE_ORDER = #{record.roleOrder,jdbcType=DECIMAL},-->
      <!--CREATE_DATE = #{record.createDate,jdbcType=DATE},-->
      <!--MODIFY_DATE = #{record.modifyDate,jdbcType=DATE},-->
      <!--ORG_ID = #{record.orgId,jdbcType=VARCHAR},-->
      <!--TENANT_ID = #{record.tenantId,jdbcType=DECIMAL}-->
    <!--<if test="_parameter != null">-->
      <!--<include refid="Update_By_Example_Where_Clause" />-->
    <!--</if>-->
  <!--</update>-->
  <!--<update id="updateByPrimaryKeySelective" parameterType="com.ceying.chx.cpi.base.rm.base.test.role">-->
    <!--update TSYS_ROLE-->
    <!--<set>-->
      <!--<if test="roleName != null">-->
        <!--ROLE_NAME = #{roleName,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="creator != null">-->
        <!--CREATOR = #{creator,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="remark != null">-->
        <!--REMARK = #{remark,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="parentId != null">-->
        <!--PARENT_ID = #{parentId,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="rolePath != null">-->
        <!--ROLE_PATH = #{rolePath,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="roleOrder != null">-->
        <!--ROLE_ORDER = #{roleOrder,jdbcType=DECIMAL},-->
      <!--</if>-->
      <!--<if test="createDate != null">-->
        <!--CREATE_DATE = #{createDate,jdbcType=DATE},-->
      <!--</if>-->
      <!--<if test="modifyDate != null">-->
        <!--MODIFY_DATE = #{modifyDate,jdbcType=DATE},-->
      <!--</if>-->
      <!--<if test="orgId != null">-->
        <!--ORG_ID = #{orgId,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="tenantId != null">-->
        <!--TENANT_ID = #{tenantId,jdbcType=DECIMAL},-->
      <!--</if>-->
    <!--</set>-->
    <!--where ROLE_CODE = #{roleCode,jdbcType=VARCHAR}-->
  <!--</update>-->
  <!--<update id="updateByPrimaryKey" parameterType="com.ceying.chx.cpi.base.rm.base.test.role">-->
    <!--update TSYS_ROLE-->
    <!--set ROLE_NAME = #{roleName,jdbcType=VARCHAR},-->
      <!--CREATOR = #{creator,jdbcType=VARCHAR},-->
      <!--REMARK = #{remark,jdbcType=VARCHAR},-->
      <!--PARENT_ID = #{parentId,jdbcType=VARCHAR},-->
      <!--ROLE_PATH = #{rolePath,jdbcType=VARCHAR},-->
      <!--ROLE_ORDER = #{roleOrder,jdbcType=DECIMAL},-->
      <!--CREATE_DATE = #{createDate,jdbcType=DATE},-->
      <!--MODIFY_DATE = #{modifyDate,jdbcType=DATE},-->
      <!--ORG_ID = #{orgId,jdbcType=VARCHAR},-->
      <!--TENANT_ID = #{tenantId,jdbcType=DECIMAL}-->
    <!--where ROLE_CODE = #{roleCode,jdbcType=VARCHAR}-->
  <!--</update>-->
</mapper>