<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ceying.chx.cpi.base.rm.supplieraccount.dao.SupplierAccountDao">
  <resultMap id="BaseResultMap" type="com.ceying.chx.cpi.base.rm.supplieraccount.entity.SupplierAccount">
    <id column="URID" jdbcType="VARCHAR" property="urid" />
    <result column="ACCOUNTNUMBER" jdbcType="VARCHAR" property="accountnumber" />
    <result column="ACCOUNTNAME" jdbcType="VARCHAR" property="accountname" />
    <result column="SUPPLIERID" jdbcType="VARCHAR" property="supplierid" />
    <result column="ISACTIVE" jdbcType="CHAR" property="isactive" />
    <result column="CREATEDBY" jdbcType="VARCHAR" property="createdby" />
    <result column="CREATEDON" jdbcType="TIMESTAMP" property="createdon" />
    <result column="LASTMODIFIEDBY" jdbcType="VARCHAR" property="lastmodifiedby" />
    <result column="LASTMODIFIEDON" jdbcType="TIMESTAMP" property="lastmodifiedon" />
    <result column="ROWVERSION" jdbcType="DECIMAL" property="rowversion" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
    <result column="BANKLOCATIONID" jdbcType="VARCHAR" property="banklocationid" />
    <result column="BANKID" jdbcType="VARCHAR" property="bankid" />
  </resultMap>
  <sql id="Base_Column_List">
    URID, ACCOUNTNUMBER, ACCOUNTNAME, SUPPLIERID, ISACTIVE, CREATEDBY, CREATEDON, LASTMODIFIEDBY, 
    LASTMODIFIEDON, ROWVERSION, DESCRIPTION, BANKLOCATIONID, BANKID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_SUPPLIERACCOUNTS
    where URID = #{urid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from T_SUPPLIERACCOUNTS
    where URID = #{urid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ceying.chx.cpi.base.rm.supplieraccount.entity.SupplierAccount">
    insert into T_SUPPLIERACCOUNTS (URID, ACCOUNTNUMBER, ACCOUNTNAME, 
      SUPPLIERID, ISACTIVE, CREATEDBY, 
      CREATEDON, LASTMODIFIEDBY, LASTMODIFIEDON, 
      ROWVERSION, DESCRIPTION, BANKLOCATIONID, 
      BANKID)
    values (#{urid,jdbcType=VARCHAR}, #{accountnumber,jdbcType=VARCHAR}, #{accountname,jdbcType=VARCHAR}, 
      #{supplierid,jdbcType=VARCHAR}, #{isactive,jdbcType=CHAR}, #{createdby,jdbcType=VARCHAR}, 
      #{createdon,jdbcType=TIMESTAMP}, #{lastmodifiedby,jdbcType=VARCHAR}, #{lastmodifiedon,jdbcType=TIMESTAMP}, 
      #{rowversion,jdbcType=DECIMAL}, #{description,jdbcType=VARCHAR}, #{banklocationid,jdbcType=VARCHAR}, 
      #{bankid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ceying.chx.cpi.base.rm.supplieraccount.entity.SupplierAccount">
    insert into T_SUPPLIERACCOUNTS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="urid != null">
        URID,
      </if>
      <if test="accountnumber != null">
        ACCOUNTNUMBER,
      </if>
      <if test="accountname != null">
        ACCOUNTNAME,
      </if>
      <if test="supplierid != null">
        SUPPLIERID,
      </if>
      <if test="isactive != null">
        ISACTIVE,
      </if>
      <if test="createdby != null">
        CREATEDBY,
      </if>
      <if test="createdon != null">
        CREATEDON,
      </if>
      <if test="lastmodifiedby != null">
        LASTMODIFIEDBY,
      </if>
      <if test="lastmodifiedon != null">
        LASTMODIFIEDON,
      </if>
      <if test="rowversion != null">
        ROWVERSION,
      </if>
      <if test="description != null">
        DESCRIPTION,
      </if>
      <if test="banklocationid != null">
        BANKLOCATIONID,
      </if>
      <if test="bankid != null">
        BANKID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="urid != null">
        #{urid,jdbcType=VARCHAR},
      </if>
      <if test="accountnumber != null">
        #{accountnumber,jdbcType=VARCHAR},
      </if>
      <if test="accountname != null">
        #{accountname,jdbcType=VARCHAR},
      </if>
      <if test="supplierid != null">
        #{supplierid,jdbcType=VARCHAR},
      </if>
      <if test="isactive != null">
        #{isactive,jdbcType=CHAR},
      </if>
      <if test="createdby != null">
        #{createdby,jdbcType=VARCHAR},
      </if>
      <if test="createdon != null">
        #{createdon,jdbcType=TIMESTAMP},
      </if>
      <if test="lastmodifiedby != null">
        #{lastmodifiedby,jdbcType=VARCHAR},
      </if>
      <if test="lastmodifiedon != null">
        #{lastmodifiedon,jdbcType=TIMESTAMP},
      </if>
      <if test="rowversion != null">
        #{rowversion,jdbcType=DECIMAL},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="banklocationid != null">
        #{banklocationid,jdbcType=VARCHAR},
      </if>
      <if test="bankid != null">
        #{bankid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ceying.chx.cpi.base.rm.supplieraccount.entity.SupplierAccount">
    update T_SUPPLIERACCOUNTS
    <set>
      <if test="accountnumber != null">
        ACCOUNTNUMBER = #{accountnumber,jdbcType=VARCHAR},
      </if>
      <if test="accountname != null">
        ACCOUNTNAME = #{accountname,jdbcType=VARCHAR},
      </if>
      <if test="supplierid != null">
        SUPPLIERID = #{supplierid,jdbcType=VARCHAR},
      </if>
      <if test="isactive != null">
        ISACTIVE = #{isactive,jdbcType=CHAR},
      </if>
      <if test="createdby != null">
        CREATEDBY = #{createdby,jdbcType=VARCHAR},
      </if>
      <if test="createdon != null">
        CREATEDON = #{createdon,jdbcType=TIMESTAMP},
      </if>
      <if test="lastmodifiedby != null">
        LASTMODIFIEDBY = #{lastmodifiedby,jdbcType=VARCHAR},
      </if>
      <if test="lastmodifiedon != null">
        LASTMODIFIEDON = #{lastmodifiedon,jdbcType=TIMESTAMP},
      </if>
      <if test="rowversion != null">
        ROWVERSION = #{rowversion,jdbcType=DECIMAL},
      </if>
      <if test="description != null">
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <if test="banklocationid != null">
        BANKLOCATIONID = #{banklocationid,jdbcType=VARCHAR},
      </if>
      <if test="bankid != null">
        BANKID = #{bankid,jdbcType=VARCHAR},
      </if>
    </set>
    where URID = #{urid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ceying.chx.cpi.base.rm.supplieraccount.entity.SupplierAccount">
    update T_SUPPLIERACCOUNTS
    set ACCOUNTNUMBER = #{accountnumber,jdbcType=VARCHAR},
      ACCOUNTNAME = #{accountname,jdbcType=VARCHAR},
      SUPPLIERID = #{supplierid,jdbcType=VARCHAR},
      ISACTIVE = #{isactive,jdbcType=CHAR},
      CREATEDBY = #{createdby,jdbcType=VARCHAR},
      CREATEDON = #{createdon,jdbcType=TIMESTAMP},
      LASTMODIFIEDBY = #{lastmodifiedby,jdbcType=VARCHAR},
      LASTMODIFIEDON = #{lastmodifiedon,jdbcType=TIMESTAMP},
      ROWVERSION = #{rowversion,jdbcType=DECIMAL},
      DESCRIPTION = #{description,jdbcType=VARCHAR},
      BANKLOCATIONID = #{banklocationid,jdbcType=VARCHAR},
      BANKID = #{bankid,jdbcType=VARCHAR}
    where URID = #{urid,jdbcType=VARCHAR}
  </update>

    <select id="list" resultMap="BaseResultMap">
        select * from (
        select a.*,rownum n from
        (SELECT t.urid, o.ORG_NAME as bankid,o1.ORG_NAME as supplierid,
        t.accountname,t.accountnumber, t.rowversion,t.description,
        d.C_CAPTION as isactive,b.name as banklocationid,s.name as banklocationbankid, a.name as areaid
        FROM
        t_supplieraccounts t,
        t_banklocations b,
        tsys_organization o,
        tsys_organization o1,
        T_BANKS s,
        T_AREAS a,TDICTIONARY d
        WHERE
        t.banklocationid = b.urid
        and t.BANKID = o.ORG_ID
        and t.supplierid = o1.ORG_ID
        and b.bankid = s.URID
        and b.areaid = a.URID
        and d.L_KEYNO = '9999067'
        and t.isactive = d.C_KEYVALUE
        <if test="accountname != null and accountname!=''">
            and t.accountname like concat('%',concat(#{accountname,jdbcType=VARCHAR},'%'))
        </if>
        <if test="accountnumber != null and accountnumber!=''">
            and t.accountnumber = #{accountnumber,jdbcType=VARCHAR}
        </if>
        <if test="isactive != null and isactive!=''">
            and t.isactive = #{isactive,jdbcType=VARCHAR}
        </if>
        <if test="bankid != null and bankid!=''">
            and o.ORG_NAME like concat('%',concat(#{bankid,jdbcType=VARCHAR},'%'))
        </if>
        <if test="supplierid != null and supplierid!=''">
            and o1.ORG_NAME like concat('%',concat(#{supplierid,jdbcType=VARCHAR},'%'))
        </if>
        ORDER BY t.CREATEDON desc
        )a
        where 1=1 and rownum<![CDATA[ <= ]]> #{rows} * #{page}
        )
        where n <![CDATA[ > ]]>(#{page} - 1) * #{rows}
    </select>
    <select id="listCount" resultType="java.lang.Integer">
        SELECT count(*)
        FROM
        t_supplieraccounts t,
        t_banklocations b,
        tsys_organization o,
        tsys_organization o1,
        T_BANKS s,
        T_AREAS a,TDICTIONARY d
        WHERE
        t.banklocationid = b.urid
        and t.BANKID = o.ORG_ID
        and t.supplierid = o1.ORG_ID
        and b.bankid = s.URID
        and b.areaid = a.URID
        and d.L_KEYNO = '9999067'
        and t.isactive = d.C_KEYVALUE
        <if test="accountname != null and accountname!=''">
            and t.accountname like concat('%',concat(#{accountname,jdbcType=VARCHAR},'%'))
        </if>
        <if test="accountnumber != null and accountnumber!=''">
            and t.accountnumber = #{accountnumber,jdbcType=VARCHAR}
        </if>
        <if test="isactive != null and isactive!=''">
            and t.isactive = #{isactive,jdbcType=VARCHAR}
        </if>
        <if test="bankidname != null and bankidname!=''">
            and o.ORG_NAME like concat('%',concat(#{bankidname,jdbcType=VARCHAR},'%'))
        </if>
        <if test="supplieridname != null and supplieridname!=''">
            and o1.ORG_NAME like concat('%',concat(#{supplieridname,jdbcType=VARCHAR},'%'))
        </if>
        ORDER BY t.CREATEDON desc
    </select>
</mapper>