<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ceying.chx.cpi.base.rm.tradeaccounts.dao.TradeaccountsDao">
  <resultMap id="BaseResultMap" type="com.ceying.chx.cpi.base.rm.tradeaccounts.entity.TradeAccountsDto">
    <id column="URID" jdbcType="VARCHAR" property="urid" />
    <result column="TENANTID" jdbcType="DECIMAL" property="tenantid" />
    <result column="ACCOUNTNUMBER" jdbcType="VARCHAR" property="accountnumber" />
    <result column="ACCOUNTNAME" jdbcType="VARCHAR" property="accountname" />
    <result column="ACCOUNTCATEGORY" jdbcType="VARCHAR" property="accountcategory" />
    <result column="ACCOUNTSTATE" jdbcType="VARCHAR" property="accountstate" />
    <result column="ORGID" jdbcType="VARCHAR" property="orgid" />
    <result column="CONTACTNAME" jdbcType="VARCHAR" property="contactname" />
    <result column="CELLPHONE" jdbcType="VARCHAR" property="cellphone" />
    <result column="CERTTYPE" jdbcType="VARCHAR" property="certtype" />
    <result column="CERTNUMBER" jdbcType="VARCHAR" property="certnumber" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="ADDRESS" jdbcType="VARCHAR" property="address" />
    <result column="CREATEDBY" jdbcType="VARCHAR" property="createdby" />
    <result column="CREATEDON" jdbcType="TIMESTAMP" property="createdon" />
    <result column="LASTMODIFIEDBY" jdbcType="VARCHAR" property="lastmodifiedby" />
    <result column="LASTMODIFIEDON" jdbcType="TIMESTAMP" property="lastmodifiedon" />
    <result column="ROWVERSION" jdbcType="DECIMAL" property="rowversion" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
  </resultMap>
  <sql id="Base_Column_List">
    URID, TENANTID, ACCOUNTNUMBER, ACCOUNTNAME, ACCOUNTCATEGORY, ACCOUNTSTATE, ORGID, 
    CONTACTNAME, CELLPHONE, CERTTYPE, CERTNUMBER, EMAIL, ADDRESS, CREATEDBY, CREATEDON, 
    LASTMODIFIEDBY, LASTMODIFIEDON, ROWVERSION, DESCRIPTION
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_TRADEACCOUNTS
    where URID = #{urid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from T_TRADEACCOUNTS
    where URID = #{urid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ceying.chx.cpi.base.rm.tradeaccounts.entity.TradeAccountsDto">
    insert into T_TRADEACCOUNTS (URID, TENANTID, ACCOUNTNUMBER, 
      ACCOUNTNAME, ACCOUNTCATEGORY, ACCOUNTSTATE, 
      ORGID, CONTACTNAME, CELLPHONE, 
      CERTTYPE, CERTNUMBER, EMAIL, 
      ADDRESS, CREATEDBY, CREATEDON, 
      LASTMODIFIEDBY, LASTMODIFIEDON, ROWVERSION, 
      DESCRIPTION)
    values (#{urid,jdbcType=VARCHAR}, #{tenantid,jdbcType=DECIMAL}, #{accountnumber,jdbcType=VARCHAR}, 
      #{accountname,jdbcType=VARCHAR}, #{accountcategory,jdbcType=VARCHAR}, #{accountstate,jdbcType=VARCHAR}, 
      #{orgid,jdbcType=VARCHAR}, #{contactname,jdbcType=VARCHAR}, #{cellphone,jdbcType=VARCHAR}, 
      #{certtype,jdbcType=VARCHAR}, #{certnumber,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{createdby,jdbcType=VARCHAR}, #{createdon,jdbcType=TIMESTAMP}, 
      #{lastmodifiedby,jdbcType=VARCHAR}, #{lastmodifiedon,jdbcType=TIMESTAMP}, #{rowversion,jdbcType=DECIMAL}, 
      #{description,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ceying.chx.cpi.base.rm.tradeaccounts.entity.TradeAccountsDto">
    insert into T_TRADEACCOUNTS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="urid != null">
        URID,
      </if>
      <if test="tenantid != null">
        TENANTID,
      </if>
      <if test="accountnumber != null">
        ACCOUNTNUMBER,
      </if>
      <if test="accountname != null">
        ACCOUNTNAME,
      </if>
      <if test="accountcategory != null">
        ACCOUNTCATEGORY,
      </if>
      <if test="accountstate != null">
        ACCOUNTSTATE,
      </if>
      <if test="orgid != null">
        ORGID,
      </if>
      <if test="contactname != null">
        CONTACTNAME,
      </if>
      <if test="cellphone != null">
        CELLPHONE,
      </if>
      <if test="certtype != null">
        CERTTYPE,
      </if>
      <if test="certnumber != null">
        CERTNUMBER,
      </if>
      <if test="email != null">
        EMAIL,
      </if>
      <if test="address != null">
        ADDRESS,
      </if>
      <if test="createdby != null">
        CREATEDBY,
      </if>
      <if test="createdon != null">
        CREATEDON,
      </if>
      <if test="lastmodifiedby != null">
        LASTMODIFIEDBY,
      </if>
      <if test="lastmodifiedon != null">
        LASTMODIFIEDON,
      </if>
      <if test="rowversion != null">
        ROWVERSION,
      </if>
      <if test="description != null">
        DESCRIPTION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="urid != null">
        #{urid,jdbcType=VARCHAR},
      </if>
      <if test="tenantid != null">
        #{tenantid,jdbcType=DECIMAL},
      </if>
      <if test="accountnumber != null">
        #{accountnumber,jdbcType=VARCHAR},
      </if>
      <if test="accountname != null">
        #{accountname,jdbcType=VARCHAR},
      </if>
      <if test="accountcategory != null">
        #{accountcategory,jdbcType=VARCHAR},
      </if>
      <if test="accountstate != null">
        #{accountstate,jdbcType=VARCHAR},
      </if>
      <if test="orgid != null">
        #{orgid,jdbcType=VARCHAR},
      </if>
      <if test="contactname != null">
        #{contactname,jdbcType=VARCHAR},
      </if>
      <if test="cellphone != null">
        #{cellphone,jdbcType=VARCHAR},
      </if>
      <if test="certtype != null">
        #{certtype,jdbcType=VARCHAR},
      </if>
      <if test="certnumber != null">
        #{certnumber,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="createdby != null">
        #{createdby,jdbcType=VARCHAR},
      </if>
      <if test="createdon != null">
        #{createdon,jdbcType=TIMESTAMP},
      </if>
      <if test="lastmodifiedby != null">
        #{lastmodifiedby,jdbcType=VARCHAR},
      </if>
      <if test="lastmodifiedon != null">
        #{lastmodifiedon,jdbcType=TIMESTAMP},
      </if>
      <if test="rowversion != null">
        #{rowversion,jdbcType=DECIMAL},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ceying.chx.cpi.base.rm.tradeaccounts.entity.TradeAccountsDto">
    update T_TRADEACCOUNTS
    <set>
      <if test="tenantid != null">
        TENANTID = #{tenantid,jdbcType=DECIMAL},
      </if>
      <if test="accountnumber != null">
        ACCOUNTNUMBER = #{accountnumber,jdbcType=VARCHAR},
      </if>
      <if test="accountname != null">
        ACCOUNTNAME = #{accountname,jdbcType=VARCHAR},
      </if>
      <if test="accountcategory != null">
        ACCOUNTCATEGORY = #{accountcategory,jdbcType=VARCHAR},
      </if>
      <if test="accountstate != null">
        ACCOUNTSTATE = #{accountstate,jdbcType=VARCHAR},
      </if>
      <if test="orgid != null">
        ORGID = #{orgid,jdbcType=VARCHAR},
      </if>
      <if test="contactname != null">
        CONTACTNAME = #{contactname,jdbcType=VARCHAR},
      </if>
      <if test="cellphone != null">
        CELLPHONE = #{cellphone,jdbcType=VARCHAR},
      </if>
      <if test="certtype != null">
        CERTTYPE = #{certtype,jdbcType=VARCHAR},
      </if>
      <if test="certnumber != null">
        CERTNUMBER = #{certnumber,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="createdby != null">
        CREATEDBY = #{createdby,jdbcType=VARCHAR},
      </if>
      <if test="createdon != null">
        CREATEDON = #{createdon,jdbcType=TIMESTAMP},
      </if>
      <if test="lastmodifiedby != null">
        LASTMODIFIEDBY = #{lastmodifiedby,jdbcType=VARCHAR},
      </if>
      <if test="lastmodifiedon != null">
        LASTMODIFIEDON = #{lastmodifiedon,jdbcType=TIMESTAMP},
      </if>
      <if test="rowversion != null">
        ROWVERSION = #{rowversion,jdbcType=DECIMAL},
      </if>
      <if test="description != null">
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where URID = #{urid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ceying.chx.cpi.base.rm.tradeaccounts.entity.TradeAccountsDto">
    update T_TRADEACCOUNTS
    set TENANTID = #{tenantid,jdbcType=DECIMAL},
      ACCOUNTNUMBER = #{accountnumber,jdbcType=VARCHAR},
      ACCOUNTNAME = #{accountname,jdbcType=VARCHAR},
      ACCOUNTCATEGORY = #{accountcategory,jdbcType=VARCHAR},
      ACCOUNTSTATE = #{accountstate,jdbcType=VARCHAR},
      ORGID = #{orgid,jdbcType=VARCHAR},
      CONTACTNAME = #{contactname,jdbcType=VARCHAR},
      CELLPHONE = #{cellphone,jdbcType=VARCHAR},
      CERTTYPE = #{certtype,jdbcType=VARCHAR},
      CERTNUMBER = #{certnumber,jdbcType=VARCHAR},
      EMAIL = #{email,jdbcType=VARCHAR},
      ADDRESS = #{address,jdbcType=VARCHAR},
      CREATEDBY = #{createdby,jdbcType=VARCHAR},
      CREATEDON = #{createdon,jdbcType=TIMESTAMP},
      LASTMODIFIEDBY = #{lastmodifiedby,jdbcType=VARCHAR},
      LASTMODIFIEDON = #{lastmodifiedon,jdbcType=TIMESTAMP},
      ROWVERSION = #{rowversion,jdbcType=DECIMAL},
      DESCRIPTION = #{description,jdbcType=VARCHAR}
    where URID = #{urid,jdbcType=VARCHAR}
  </update>
    <!--交易账户-->
    <select id="list" parameterType="com.ceying.chx.cpi.base.rm.tradeaccounts.entity.TradeAccountsDto" resultType="com.ceying.chx.cpi.base.rm.tradeaccounts.entity.TradeAccountsDto">
        select * from (
        select a.*,rownum n from
        (
        select a.* ,b.org_name orgname,t1.c_caption accountcategoryname,t2.c_caption accountstatename
        from T_TRADEACCOUNTS a,tsys_organization b,
        TDICTIONARY t1,TDICTIONARY t2
        where a.orgid=b.org_id
        and a.accountcategory=t1.c_keyvalue and t1.l_keyno='9999069'
        and a.accountstate=t2.c_keyvalue and t2.l_keyno='9999070'
        <if test="accountcategory != null and accountcategory!=''">
            and a.accountcategory = #{accountcategory,jdbcType=VARCHAR}
        </if>
        <if test="accountstate != null and accountstate!=''">
            and a.accountstate = #{accountstate,jdbcType=VARCHAR}
        </if>
        <if test="orgid != null and orgid!=''">
            and a.orgid =#{orgid,jdbcType=VARCHAR}
        </if>
        )  a
        where 1=1 and rownum<![CDATA[ <= ]]> #{rows} * #{page}
        )
        where n <![CDATA[ > ]]>(#{page} - 1) * #{rows}
    </select>
    <select id="listCountTotal"  resultType="java.lang.Integer">
        select count(*)
        from T_TRADEACCOUNTS a,tsys_organization b,
        TDICTIONARY t1,TDICTIONARY t2
        where a.orgid=b.org_id
        and a.accountcategory=t1.c_keyvalue and t1.l_keyno='9999069'
        and a.accountstate=t2.c_keyvalue and t2.l_keyno='9999070'
        <if test="accountcategory != null and accountcategory!=''">
            and a.accountcategory = #{accountcategory,jdbcType=VARCHAR}
        </if>
        <if test="accountstate != null and accountstate!=''">
            and a.accountstate = #{accountstate,jdbcType=VARCHAR}
        </if>
        <if test="orgid != null and orgid!=''">
            and a.orgid =#{orgid,jdbcType=VARCHAR}
        </if>
    </select>
    <!--查询账户明细-->
    <select id="queryDetail" parameterType="com.ceying.chx.cpi.base.rm.tradeaccounts.entity.TradeAccountsDto" resultType="com.ceying.chx.cpi.base.rm.tradeaccounts.entity.TradeAccountsDto">
        select * from (
        select a.*,rownum n from
        (
        select a.postdatetime,to_char(a.ledgeramount,'fm9999999999990.00') ledgeramount,b.accountname,t1.c_caption operateflagname,t2.c_caption approvestatename
        from T_TRADETRANSACTIONS a,t_tradeaccounts b ,
        tdictionary t1,tdictionary t2
        where a.tradeaccountsid=b.urid
        and t1.c_keyvalue=a.operateflag and t1.l_keyno='9999074'
        and t2.c_keyvalue=a.approvestate and t2.l_keyno='1021'
        <if test="operateflag != null and operateflag!=''">
            and a.operateflag = #{operateflag,jdbcType=VARCHAR}
        </if>
        <if test="ledgeramount != null and ledgeramount!=''">
            and a.ledgeramount like  concat('%',concat(#{ledgeramount,jdbcType=VARCHAR},'%'))
        </if>
        )  a
        where 1=1 and rownum<![CDATA[ <= ]]> #{rows} * #{page}
        )
        where n <![CDATA[ > ]]>(#{page} - 1) * #{rows}
    </select>
    <select id="queryDetailCountTotal"  resultType="java.lang.Integer">
        select count(*)
        from T_TRADETRANSACTIONS a,t_tradeaccounts b ,
        tdictionary t1,tdictionary t2
        where a.tradeaccountsid=b.urid
        and t1.c_keyvalue=a.operateflag and t1.l_keyno='9999074'
        and t2.c_keyvalue=a.approvestate and t2.l_keyno='1021'
        <if test="operateflag != null and operateflag!=''">
            and a.operateflag = #{operateflag,jdbcType=VARCHAR}
        </if>
        <if test="ledgeramount != null and ledgeramount!=''">
            and a.ledgeramount = #{ledgeramount,jdbcType=VARCHAR}
        </if>
    </select>
    <!--查询账户余额-->
    <select id="queryBalance" parameterType="com.ceying.chx.cpi.base.rm.tradeaccounts.entity.TradeAccountsDto" resultType="com.ceying.chx.cpi.base.rm.tradeaccounts.entity.TradeAccountsDto">
        select * from (
        select a.*,rownum n from
        (
        select a.availablebalance,a.balance,a.closingbalance,b.accountname
        from T_TRADEBALANCES a ,t_tradeaccounts b
        where a.tradeaccountsid=b.urid
        <if test="availablebalance != null">
            and a.availablebalance like  concat('%',concat(#{availablebalance,jdbcType=VARCHAR},'%'))
        </if>
        <if test="balance != null and balance!=''">
            and a.balance like  concat('%',concat(#{balance,jdbcType=VARCHAR},'%'))
        </if>
        <if test="closingbalance != null and closingbalance!=''">
            and a.closingbalance concat('%',concat(#{closingbalance,jdbcType=VARCHAR},'%'))
        </if>
        )  a
        where 1=1 and rownum<![CDATA[ <= ]]> #{rows} * #{page}
        )
        where n <![CDATA[ > ]]>(#{page} - 1) * #{rows}
    </select>
    <select id="queryBalanceCountTotal"  resultType="java.lang.Integer">
        select count(*)
        from T_TRADEBALANCES a ,t_tradeaccounts b
        where a.tradeaccountsid=b.urid
        <if test="availablebalance != null">
            and a.availablebalance like  concat('%',concat(#{availablebalance,jdbcType=VARCHAR},'%'))
        </if>
        <if test="balance != null and balance!=''">
            and a.balance like  concat('%',concat(#{balance,jdbcType=VARCHAR},'%'))
        </if>
        <if test="closingbalance != null and closingbalance!=''">
            and a.closingbalance concat('%',concat(#{closingbalance,jdbcType=VARCHAR},'%'))
        </if>
    </select>
</mapper>